{% extends 'maquette/layout.html.twig' %}

{% block body %}
    <div class="p-5">
        <div class="p-5 h2">
            <img src="{{ asset(('assets/maquette/ACTIONCULTURELLE.png')) }}" class="w-100 mb-5" style="max-height: 600px" alt="ACTIONCULTURELLE">
            <div class="pt-4 position-relative">

                <img src="{{ asset(('assets/maquette/actu_cadre_1.svg')) }}" class="position-absolute" style="max-height: 100px; top:0; left: 0 !important;" alt="ACTIONCULTURELLE">
                <div class="row px-5 pt-5">
                    <div class="col-lg-10 col-md-12">
                        <h1>L'action culturelle à l'usage des musicien.ne.s</h1>
                    </div>
                    <div class="col-lg-2 col-md-12">
                        <div class="text-center h2 white" style="background-color: #ffb24b; min-height: 50px;"><div class="p-1">ACTION CULTURELLE</div></div>
                    </div>
                </div>
            </div>
            <div class="p-5">

                <p class="h2">L'action culturelle, kézako ?</p>
                <ul class="p-5">
                    <li>
                        18h30 – 20h30
                    </li>
                    <li>
                        Gratuit
                    </li>
                    <li>
                        <b>Réservé aux musicien·ne·s et aux acteur.rice.s des musiques actuelles</b>
                    </li>
                </ul>
                <div class="row position-relative">
                    <div class="col-md-12 col-lg-8">
                        <p>
                            Souvent mentionnée mais parfois mal comprise, l’action culturelle est la mission de nombreuses structures culturelles avec lesquelles les artistes s’engagent à faire vivre aux publics une expé- rience sensible et leur donner les clés pour s’émerveiller, apprendre, créer et s’émouvoir !
                            De l’atelier de création en milieu scolaire au concert en maison d’arrêt, quel sens donne-t-on à ces actions? Comment sont-elles construites? Comment travaille-t-on en tant qu’artiste avec ces différents publics? Quelle est la posture du/de la musicien·ne intervenant·e ?
                            Pour tout savoir sur l’action culturelle, Anaïs, responsable des publics et des projets culturels et l’artiste Verlatour seront là pour répondre à toutes vos questions !
                        </p>
                        <p class="py-3">
                            Intervenants : Anaïs Frapsauce, responsable des publics et des actions culturelles à La Lune des Pirates et Jocelyn Soler, artiste musicien intervenant.
                        </p>
                        <ul>
                            <li>
                                Gratuit sur inscription : billetterie de La Lune des Pirates
                            </li>
                            <li>
                                Informations auprès de Vincent : vincent.risbourg@lalune.net / 09 71 18 28 41
                            </li>
                        </ul>
                    </div>

                    <img src="{{ asset(('assets/maquette/actu_cadre_2.svg')) }}" class="position-absolute" style="max-height: 100px; bottom:0; left: 50%;" alt="ACTIONCULTURELLE">
                    <div class="col-lg-3 offset-lg-1 col-md-12">
                        <div class="py-5">
                            <p class="fs-1">
                                <b>JEU. 11 MAI 2023</b>
                            </p>
                            <p>18:30 -20h30</p>
                        </div>
                        <div class="row mb-5">
                            <div class="col-6 fs-4">
                                Tarif normal
                            </div>
                            <div class="col-6 fs-4">
                                Tarif abonné
                            </div>
                            <div class="col-3 h-100" style="padding-right: 0px; ">
                                <div class="border border-1 border-dark p-2 w-100" style="background-color: #e6e6e6">0 €</div>
                            </div>
                            <div class="col-3" style="padding-left: 0px">
                                <select class="w-100 p-1">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>

                            <div class="col-3" style="padding-right: 0px; ">
                                <div class="border border-1 border-dark p-2 w-100" style="background-color: #e6e6e6">0 €</div>
                            </div>
                            <div class="col-3" style="padding-left: 0px">
                                <select class="w-100 p-1">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </div>
                        <button class="border rounded-0 btn border-dark fs-2"><div class="p-1">AJOUTER AU PANIER</div></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-grey">
        <div class="p-5">
            <h1 class="pb-5">Voir aussi >> >> >></h1>
            <div class="row">

                {% for actu in actu_childs.elements %}
                    <!-- DEBUG -->
                    <!-- {{ dump(actu) }} -->


                    <div class="col-lg-4 col-md-12 py-2">
                        <!-- Card-Actu -->
                        <div class="card mb-3 mx-4 shadow-lg rounded-0 h-100">

                            {% if loop.index0 == 0 %}
                                <img src="{{ asset(('assets/maquette/ACTION2.png')) }}" class="card-img-top rounded-0" alt="...">
                            {% else %}
                                <img src="{{ asset(('assets/maquette/ACTION.png')) }}" class="card-img-top rounded-0" alt="...">
                            {% endif %}

                            <div class="row m-0">
                                <div class="col-6 white" style="background-color: #ffb24b; min-height: 50px; display: flex; align-items: center; justify-content: center; font-weight: bold; font-size: 22px">
                                    ACTION CULTURELLE
                                </div>
                            </div>
                            <div class="p-5">
                                <div class=" pb-5">
                                    <!-- Themes -->
                                    <!-- Titre -->
                                    <h2 class="card-title pb-3">{{ actu.element.title }}</h2>

                                    <!-- Contenu -->
                                    <!-- <p class="card-text">{{ actu.element.content }}</p> -->
                                    <p class="card-text fs-4">
                                        {% if loop.index0 == 0 %}
                                            À travers ses projets culturels, La Lune des Pirates se donne pour mission de défendre et faciliter l’accès aux lieux et pratiques musicales pour toutes et tous, tout le temps et partout.
                                        {% else %}
                                            Retour sur le projet « Organiser un concert » avec le Lycée Pierre Mendès France à Péronne soutenu par la Région Hauts-de-France.
                                        {% endif %}
                                    </p>

                                </div>

                            <!-- Bouton Lien vers l'article -->
                                <button class="fs-3 w-40 btn border border-dark rounded-0 p-3">LIRE LA SUITE</button>


                            </div>
                            <!-- Potentiel lien Billetterie -->
                        </div>
                    </div>
                {% endfor %}
            </div>



        </div>



    </div>




{% endblock %}