{% extends 'maquette/layout.html.twig' %}

{% block body %}



    <!-- ARTISTES ACCOMPAGNES -->
    <div class="p-lg-5">
        <div class="p-sm-5 p-md-5 p-lg-0">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <h1 class="pt-4">Artistes Accompagnés</h1>
                </div>
                <div class="col-md-6 col-lg-3 offset-lg-4">
                    <h2>Dispositif d’accompagnement de La Lune des Pirates</h2>
                </div>
                <div class="col-2" style="line-height: 0.7">
                    <p style="font-size: 60px; font-weight: bold">Objectif</p>
                    <p style="font-size: 80px; font-weight: bold">LUNE</p>
                </div>
            </div>
<!--            <h1>DUMP ARTICLES PAR FIND BY</h1>
                {{ dump(accompagnes_test) }}
            <h1>DUMP ARTICLES PAR GET GENEALOGY</h1>
                {{ dump(accompagnes) }}
            <h1>DUMP ARTICLES PAR GET ARTICLES</h1>
                {{ dump(accompagnes_test2) }}-->
            <p class="h3 py-5">
                Eux, elle, ce sont les artistes que La Lune va accompagner pendant un an, peut-être deux. Ce sont les projets qui ont été choisis pour leur parcours mais aussi pour leurs besoins auxquels nous allons tenter de répondre : structure administrative, besoin de répétitions ou de coaching, soutien à l’enregistrement...
            </p>
            <p class="h3 pb-4">
                8 personnalités pour autant d’univers, que nous tentons de vous faire connaître à travers ces quelques lignes qui, nous l’espérons, vous donneront envie d’aller voir plus loin.
            </p>
        </div>

        <div class="row">
            {% for accomp in accompagnes.elements %}
                <div class="col-lg-4 col-md-12">
                    <!-- Card-Actu -->
                    <div class="card mb-lg-3 mx-lg-4 shadow-lg rounded-0">
                        {% set src = accompagnes_medias[loop.index0] %}
                        {% set url = 'build/maquette/images/' %}
                        {% set ext = '.png' %}
                        {% set src = url ~ src ~ ext %}

                        <img src="{{ asset(src) }}" class="card-img-top rounded-0" alt="...">

                        <!-- Themes -->
                        <div class="row m-0 p-0">
                            <div class="col-5 bg-blue theme-1" style="background-color: #09b2FF">
                                    LES INOUÏS
                            </div>
                            <div class="col-7 theme-2">
                                <img class="tiny-icon" src="{{ asset(('build/maquette/images/MINI_BILLETTERIE.svg')) }}">
                                {% if loop.index0 == 0  %}
                                    ÉLECTRO - OISE
                                {% elseif loop.index0 == 1 %}
                                    POP - OISE
                                {% elseif loop.index0 == 2 %}
                                    RAP - SOMME
                                {% elseif loop.index0 == 3 %}
                                    2E NIVEAU | 1RE ANNÉE
                                {% elseif loop.index0 == 4 %}
                                    2E NIVEAU | 2E ANNÉE
                                {% elseif loop.index0 == 5 %}
                                    2E NIVEAU | 2E ANNÉE
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body pt-0 ">

                            <div class="row">
                                <!-- ARTISTE -->
                                <div class="col-9 d-flex align-items-end">
                                    <h1 class="card-title my-3 fw-bold">
                                        {{ accomp.element.title }}
                                    </h1>
                                </div>

                                <!-- COUP DOEUIL -->
                                <div class="col-3">
                                    <img src="{{ asset(('build/maquette/images/COUPDOEUIL.png')) }}" class="card-img-top rounded-0" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- AUDITIONS -->
    <div class="p-lg-5 bg-grey">
        <div class="p-sm-5 p-md-5 p-lg-0">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <h1 class="pt-4">Auditions</h1>
                </div>
                    <div class="col-3">
                        <h2>Dispositif national de repérage et de sélection de nouveaux talents</h2>
                    </div>
                    <div class="col-2" style="line-height: 30pt">
                        <p style="font-size: 60px; font-weight: bold">Les inouïs du printemps de Bourges</p>
                    </div>
            </div>

            <p class="h3 py-5">
                Eux, elle, ce sont les artistes que La Lune va accompagner pendant un an, peut-être deux. Ce sont les projets qui ont été choisis pour leur parcours mais aussi pour leurs besoins auxquels nous allons tenter de répondre : structure administrative, besoin de répétitions ou de coaching, soutien à l’enregistrement...


            </p>
            <p class="h3 pb-4">
                8 personnalités pour autant d’univers, que nous tentons de vous faire connaître à travers ces quelques lignes qui, nous l’espérons, vous donneront envie d’aller voir plus loin.
            </p>
        </div>

        <div class="row">
            {% for accomp in auditions.elements %}
                <div class="col-lg-4 col-md-12">
                    <!-- Card-Actu -->
                    <div class="card mb-lg-3 mx-lg-4 shadow-lg rounded-0">
                        {% set src = auditions_medias[loop.index0] %}
                        {% set url = 'build/maquette/images/' %}
                        {% set ext = '.png' %}
                        {% set src = url ~ src ~ ext %}

                        <img src="{{ asset(src) }}" class="card-img-top rounded-0" alt="...">

                        <!-- Themes -->
                        <div class="row m-0 p-0">
                            <div class="col-5 bg-blue theme-1" style="background-color: #09b2FF">
                                LES INOUÏS
                            </div>
                            <div class="col-7 theme-2">
                                <img class="tiny-icon" src="{{ asset(('build/maquette/images/MINI_BILLETTERIE.svg')) }}">
                                {% if loop.index0 == 0  %}
                                    ÉLECTRO - OISE
                                {% elseif loop.index0 == 1 %}
                                    POP - OISE
                                {% elseif loop.index0 == 2 %}
                                    RAP - SOMME
                                {% elseif loop.index0 == 3 %}
                                    2E NIVEAU | 1RE ANNÉE
                                {% elseif loop.index0 == 4 %}
                                    2E NIVEAU | 2E ANNÉE
                                {% elseif loop.index0 == 5 %}
                                    2E NIVEAU | 2E ANNÉE
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body pt-0 ">

                            <div class="row">
                                <!-- ARTISTE -->
                                <div class="col-9 d-flex align-items-end">
                                    <h1 class="card-title my-3 fw-bold">{{ accomp.element.title }}</h1>
                                </div>

                                <!-- COUP DOEUIL -->
                                <div class="col-3">
                                    <img src="{{ asset(('build/maquette/images/COUPDOEUIL.png')) }}" class="card-img-top rounded-0" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Évènements Actualités -->

    <div class="py-lg-5 px-lg-5">
        <div class="p-sm-5 p-md-5 p-lg-0">
            <h2 class="">Evenements Actualités</h2>
        </div>
        <div class="row">
            {% for event_actu in event_actus.elements %}
                <div class="col-lg-4 col-md-12 mb-lg-5">
                    <!-- Card-Actu -->
                    <div class="card mb-lg-3 mx-lg-4 shadow-lg rounded-0 h-100">

                        {% set src = event_actus_medias[loop.index0] %}
                        {% set url = 'build/maquette/images/' %}
                        {% set ext = '.png' %}
                        {% set src = url ~ src ~ ext %}
                        <img src="{{ asset(src) }}" class="card-img-top rounded-0" alt="...">
                        <!-- Themes -->
                        <div class="row m-0 p-0">
                            <div class="col-5 bg-blue theme-1" style="background-color: #09b2FF">
                                {% if loop.index0 == 0  %}
                                    LES BRUITS DE LA LUNE
                                {% elseif loop.index0 == 1 %}
                                    TOUS SUR LE PONT
                                {% elseif loop.index0 == 2 %}
                                    ATELIER
                                {% elseif loop.index0 == 3 %}
                                    MASTERCLASS
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body  ">

                            <!-- ARTISTE -->

                            <h2 class="card-title my-3">{{ event_actu.element.title }}</h2>
                        </div>

                        <div class="container">
                            <div class="row">
                                <!-- BILLETTERIE -->
                                <div class="col-3">
                                    <a href="https://billetterie.lalune.net/">
                                        <img src="{{ asset(('build/maquette/images/BILLETTERIE.png')) }}" class="card-img-top rounded-0" alt="...">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}