{% extends 'frontoffice/_components/layout.html.twig' %}

{% block body %}
    <div class="p-3 p-lg-5">
        <h3 class="mb-5 text-center">Galerie photos</h3>
        <div class="mb-4">
            {% do cat_galery.getDatas(locale)  %}
            {{ cat_galery.description | raw }}
        </div>
        <!-- Liste des vignettes -->
        <div class="row">
            {% for article_datas in gallery_articles %}
                {% if article_datas['photos'] != null %}
                    <div class="col-lg-3">
                        {% do article_datas['article'].getDatas(locale) %}
                        {% for photo in article_datas['photos'] %}
                            <a href="{{ url('ressources_image', {'width':'src','height':'src', 'media':photo.media}) }}" data-lightbox="image-{{ loop.parent.loop.index0 }}" style="width: 100%" data-title="{{ article_datas['article'].title ~ ' - ' ~ article_datas['article'].dateEvent | date("d/m/Y")  }}">
                                {% if loop.index0 == 0 %}
                                    <img class="object-fit-cover" style="width: 100%" src="{{ url('ressources_image', {'width':'src','height':'src', 'media':photo.media}) }}" />
                                {% endif %}
                            </a>
                        {% endfor %}
                        <h3 class="text-center">{{ article_datas['article'].title }} {% if article_datas['article'].dateEvent is defined %}- {{ article_datas['article'].dateEvent | date("d/m/Y") }}{% endif %}</h3>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}





