{# frontoffice/home.html.twig #}
{% extends 'frontoffice/_components/layout.html.twig' %}
{% block title %}{{ seo.title }}{% endblock %}
{% block body %}
    <!-- Image Vedette - Carroussel -->
    <div class="container-fluid px-0 mt-5">
        <div class="position-relative">
            <div
                id="carousel"
                class="carousel slide shadow-lg"
                data-bs-ride="carousel"
                data-bs-pause="false"
            >

                <div class="carousel-inner">
                    {% set active = true %}
                    {% for event in events_agenda %}
                        {% if event.star == 1  %}
                                <div class="carousel-item {% if active %} active{% endif %}" data-bs-interval="3000">
                                    {% set active = false %}
                                    <a href="{{ url('fo_agenda_detail',{'slug':event.slug }) }}" class="text-decoration-none">
                                        {% set media = event.getMedia(9) %}
                                        {% if media is not null %}
                                            <img src="{{ url('ressources_image', {'width':'large','height':'large', 'media':media.media} ) }}" class="d-block w-100" alt="...">
                                        {% else %}
                                            {% set mediaCategoryAgenda = category_agenda.getMedia(21) %}
                                            {% if mediaCategoryAgenda is not null %}
                                                <img src="{{ url('ressources_image', {'width':'src','height':'src', 'media':mediaCategoryAgenda.media} ) }}" class="d-block w-100" alt="...">
                                            {% endif %}
                                        {% endif %}
                                        <div class="position-absolute d-none d-lg-block card-vedette-home" >
                                        <div class="row mx-0">
                                            <div
                                                class="col-5 white theme-1 text-uppercase bg-black"
                                            >
                                                {{ event.category.title }}
                                            </div>
                                            {% if event.style is not empty and event.style is not null %}
                                                {% do event.category.getDatas(locale) %}
                                                <div class="col-7 theme-2 text-uppercase" style="background-color: {{ event.category.themeBackColor }}" >
                                                    <img class="card-ticketing " src="{{ asset(getSiteImagePath('MINI_BILLETTERIE.svg')) }}" alt="">{{ event.style }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="p-4">
                                            <!-- Titre -->
                                            <div class="my-3 fs-3 mb-0 lh-1">
                                                {{ event.title }}
                                            </div>
                                            <!-- CONTENU -->
                                            <div class="fs-5 card-text">
                                                {{ event.subtitle }}
                                            </div>
                                        </div>
                                        <div class="p-4 d-flex justify-content-between">
                                            <div class="pb-3 d-flex">
                                                <div class= "fs-3 ">
                                                    {{ formatCustomDateWithoutYears(event.dateEvent) }}
                                                </div>
                                                {% if event.dateTimeEvent is not null and event.dateTimeEvent is not empty %}
                                                    <div class="fs-5">{{ event.dateTimeEvent| date("H:i") }}</div>
                                                {% endif %}
                                            </div>
                                            <a href="{% if event.ticketingLink is not empty %}{{ event.ticketingLink }}{% else %}https://billetterie.lalune.net/{% endif %}">
                                                <img style="height: 50px" class="btn-billetterie-card" src="{{ asset(getSiteImagePath('picto-billet.svg')) }}" alt="...">
                                            </a>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    <!-- Programmation à venir -->
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row my-4">
                <div class="col px-3 h2 text-center text-lg-start">Programmation <strong>à venir</strong></div>
            </div>
            <div class="row">
                {% for event in events_agenda %}
                    {% if loop.index < 5 %}
                        {% set media = event.getMedia(1) %}
                        {% set CategoryTitle = event.category.title|replace({' ': '-'})|lower %}
                        <div class="col-12 {% if loop.length == 1 %}col-lg-6{% else %}col-lg{% endif %} pb-3 px-3 pb-lg-5 category-{{ CategoryTitle }} category-tous-les-evenements {% if loop.index == 4 %}show-xxl{% endif %}">
                            <!-- Card-Actu -->
                            {% include 'frontoffice/_components/card.html.twig' with {'event': event, 'agenda': true, 'showButton': false, 'actu': false, 'billetterie': true, 'soutiens': false, 'actions': false } %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- Event / Playlistes -->
        <div class="container-fluid pb-4">
            <div class="row">
                <!-- Event -->
                <div class="col-md-12 col-lg-8">
                    <div class="row px-3" data-masonry='{"percentPosition": true }'>
                            {% for event in events_actus %}
                                {% if loop.index0 < 4 %}
                                    <div class="col-lg-6 col-md-12 border-event mb-md-3  mb-lg-0 mb-sm-3 px-0">
                                        <div class="d-flex flex-column justify-content-between h-100">
                                            <div>
                                                {% set mediaArticle = event.getMedia(8) %}
                                                {% if mediaArticle is not null %}
                                                    <img src="{{ url('ressources_image', {'width':'src','height':'src', 'media':mediaArticle.media} ) }}" class="img-fluid w-100" alt="...">
                                                {% endif %}
                                                <div class="p-4">
                                                    <!-- TITRE -->
                                                    <div class="h3 mb-3">{{ event.title }}</div>
                                                    <!-- CONTENU -->
                                                    <div class="fs-5">{{ event.description | raw}}</div>
                                                    <!-- DATE ET HEURE -->
                                                    <div class="pt-3" >
                                                        <div class="fs-4 fw-bold">{{ formatCustomDate(event.dateEvent) }}</div>
                                                        {% if event.datetimeEvent is not null and event.datetimeEvent is not empty %}
                                                            <div class="fs-4">{{ event.datetimeEvent| date("H:i") }}</div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-4 pt-0">
                                                <a href="{{ path('fo_actus_detail', { 'slug': event.slug }) }}" class="btn btn-read-card border rounded-0 border-dark mt-3 fs-4">LIRE LA SUITE</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                </div>

                <!-- Playlists -->
                <div class="col-md-12 col-lg-4 text-center text-lg-start pt-5 pt-lg-0">
                    <div class=" pb-5 text-center">
                        <div class=" pb-3">
                            <a rel="nofollow" href="http://www.radiocampusamiens.fr/emissions/bruits-de-lune/">
                                <img class="img-fluid" style="max-width: 313px" src="{{ asset(getSiteImagePath('bruits-de-lune.svg')) }}">
                            </a>
                        </div>
                        <div class="py-3">
                            <a rel="nofollow" href="https://billetterie.lalune.net/abonnements/166f6eac2a539b/renouvellement">
                                <img class="img-fluid" style="max-width: 313px" src="{{ asset(getSiteImagePath('abonnement.svg')) }}">
                            </a>
                        </div>
                        <div class="py-3">
    {#                        <div class="h2"> Playlist</div>#}
                            <a rel="nofollow" href="https://open.spotify.com/user/lalunedespirates/playlists">
                                <img class="img-fluid" style="max-width: 313px" src="{{ asset(getSiteImagePath('spotify.svg')) }}">
                            </a>
    {#                        <div class="fs-5">#}
    {#                            <b>Abonnez-vous</b> à notre playlist#}
    {#                        </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}