{# frontoffice/home.html.twig #}
{% extends 'frontoffice/_components/layout.html.twig' %}
{% block body %}
    <main role="main">
        <div class="container">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown button
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container g-0 d-none d-md-block">
            <div class="billetterie-lg-bg">
                <div class="px-5 py-5">
                    <ul class="list-unstyled font-alt d-flex flex-wrap justify-content-start">

{#                        <!-- Article Vedette Tête d'affiche -->#}
{#                        <?php foreach($articles[46] as $article){#}
{#						if($article->vedette == 1){#}
{#                        if($article->headline == 1){ ?>#}
{#                        <li class="lineup1 rounded me-3 mb-3 position-relative">#}
{#                            <a href="<?= BASE_URL ?>programmation/<?= url_compliant($article->data->titre) ?>/<?= $article->id ?>" class="link-dark text-decoration-none stretched-link">#}
{#                                <?= $article->data->titre ?>#}
{#                            </a>#}
{#                        </li>#}
{#                        <?php }#}
{#						}#}
{#					}?>#}
                        {{ include('frontoffice/article/article.html.twig', {tree : tree[46]}) }}
                    </ul>
                    <ul class="list-unstyled font-alt d-flex flex-wrap justify-content-start">
                        <!-- Article Vedette non Tête d'affiche -->
{#                        <?php foreach($articles[46] as $article){#}
{#						if($article->vedette == 1){#}
{#                        if($article->headline == 0){ ?>#}
{#                        <li class="lineup2 rounded me-3 mb-3 position-relative">#}
{#                            <a href="<?= BASE_URL ?>programmation/<?= url_compliant($article->data->titre) ?>/<?= $article->id ?>" class="link-dark text-decoration-none stretched-link">#}
{#                                <?= $article->data->titre ?>#}
{#                            </a>#}
{#                        </li>#}
{#                        <?php }#}
{#						}#}
{#					}?>#}

                        <li class="lineup2 rounded me-3 mb-3 position-relative">
                            <a href="{{ url('fo_home_programmation') }}" class="link-dark text-decoration-none stretched-link">
                                et bien plus...
                            </a>
                        </li>
                    </ul>

                    <!-- Bouton de la billetterie -->
                    <a href="#">
                         <img src="{{ asset('build/front/images/billetterie-cta.svg') }}">
                    </a>
                </div>
                <!-- Image avant vidéo -->
                <img class="img-fluid" src="{{ asset('build/front/images/prevideo-lg.png') }}
">
            </div>

            <!-- Vidéo de la Home -->
            <div style="margin:0 0 -12px 0">
{#                <a href="https://www.youtube.com/watch?v=Vu2I_I16cKU">#}
{#                    <video class="video-fluid" autoplay muted loop poster="{{ asset('build/front/images/poster-lg.jpg') }}">#}
{#                        <source src="{{ asset('build/front/images/AFTER-MOVIE-MALN-2022.webm') }}" type="video/webm">#}
{#                        <source src="{{ asset('build/front/images/AFTER-MOVIE-MALN-2022.mp4') }}" type="video/mp4">#}
{#                    </video>#}
{#                </a>#}
            </div>
        </div>
{#        <div class="container g-0 d-block d-md-none">#}
{#            <div class="billetterie-bg">#}
{#                <div class="px-5 py-5">#}
{#                    <ul class="list-unstyled font-alt d-flex flex-wrap justify-content-start">#}

{#                        <!-- Artiste Vedettes et Têtes d'affiches -->#}
{#                        <?php foreach($articles[46] as $article){#}
{#						if($article->vedette == 1){#}
{#                        if($article->headline == 1){ ?>#}
{#                        <li class="lineup1 rounded me-3 mb-3  position-relative">#}
{#                            <a href="<?= BASE_URL ?>programmation/<?= url_compliant($article->data->titre) ?>/<?= $article->id ?>" class="link-dark text-decoration-none stretched-link">#}
{#                                <?= $article->data->titre ?>#}
{#                            </a>#}
{#                        </li>#}
{#                        <?php }#}
{#						}#}
{#					}?>#}

{#                        <!-- Artiste Vedettes non Têtes d'affiches -->#}
{#                        <?php foreach($articles[46] as $article){#}
{#						if($article->vedette == 1){#}
{#                        if($article->headline == 0){ ?>#}
{#                        <li class="lineup2 rounded me-3 mb-3  position-relative">#}
{#                            <a href="<?= BASE_URL ?>programmation/<?= url_compliant($article->data->titre) ?>/<?= $article->id ?>" class="link-dark text-decoration-none stretched-link">#}
{#                                <?= $article->data->titre ?>#}
{#                            </a>#}
{#                        </li>#}
{#                        <?php }#}
{#						}#}
{#					}?>#}
{#                        <li class="lineup2 rounded me-3 mb-3 position-relative">#}
{#                            <a href="<?= BASE_URL ?>programmation/" class="link-dark text-decoration-none stretched-link">#}
{#                                et bien plus...#}
{#                            </a>#}
{#                        </li>#}
{#                    </ul>#}

{#                    <!-- Image Billetterie -->#}
{#                    <a href="https://billetterie.lalune.net/"><img src="<?= ASSETS_URL  ?>dist/build/front/images/billetterie-cta.svg"></a>#}
{#                </div>#}

{#                <!-- Image Prévidéo -->#}
{#                <img class="img-fluid" src="<?= ASSETS_URL  ?>dist/build/front/images/prevideo.png">#}
{#            </div>#}

{#            <!-- Vidéo de présentation MALN -->#}
{#            <div style="margin:0 0 -12px 0">#}
{#                <a href="https://www.youtube.com/watch?v=Vu2I_I16cKU">#}
{#                    <video class="video-fluid" autoplay muted loop playsinline poster="<?= ASSETS_URL  ?>dist/build/front/images/poster.jpg">#}
{#                        <source src="<?= ASSETS_URL  ?>dist/build/front/images/AFTER-MOVIE-MALN-2022.webm" type="video/webm">#}
{#                        <source src="<?= ASSETS_URL  ?>dist/build/front/images/AFTER-MOVIE-MALN-2022.mp4" type="video/mp4">#}
{#                    </video>#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#        <div class ="container g-0 bg-green">#}
{#            <div class="row g-0">#}
{#                <div class="col d-flex">#}
{#                    <p class="d-none d-md-block align-self-center m-0 ps-5 text-white font2 fs-4">Minuit avant la Nuit revient pour 4 jours de concerts entre herbe et eau les 8, 9, 10, et 11 juin 2023 aux Hortillonnages et au Parc St-Pierre d’Amiens !</p>#}
{#                    <p class="d-block d-md-none align-self-center m-0 p-5 text-white font2 fs-5">Minuit avant la Nuit revient pour 4 jours de concerts entre herbe et eau les 8, 9, 10, et 11 juin 2023 aux Hortillonnages et au Parc St-Pierre d’Amiens !</p>#}
{#                </div>#}
{#                <div class="col d-none d-md-block">#}
{#                    <img class="img-fluid" src="<?= ASSETS_URL  ?>dist/build/front/images/barque.png">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class = "container g-0 bandeau-bg">#}
{#            <div class="d-none d-md-block">#}
{#                <img class="img-fluid" src="<?= ASSETS_URL  ?>dist/build/front/images/bandeau-images-lg.jpg">#}
{#            </div>#}
{#            <div class="d-block d-md-none">#}
{#                <img class="img-fluid" src="<?= ASSETS_URL  ?>dist/build/front/images/bandeau-images.jpg" style="width:100%;">#}
{#            </div>#}
{#            <div class="mx-3 mx-lg-7 mx-xl-9 p-5 bg-dark bottom-rounded">#}
{#                <p class="d-none d-md-block m-0 font1 text-white text-center fs-4">TOUT CE QU’IL FAUT POUR SE RESSOURCER DURANT 4 JOURS !</p>#}
{#                <p class="d-block d-md-none m-0 font1 text-white text-center">TOUT CE QU’IL FAUT POUR SE RESSOURCER DURANT 4 JOURS !</p>#}
{#            </div>#}
{#        </div>#}
    </main>
{% endblock %}


