{% extends 'frontoffice/_components/layout.html.twig' %}
{% block body %}
    <div class="wrapper infos">
        <div class="container-fluid p-lg-3">
            <div class="row gx-0">
                <div id="page-link-container" class="col-lg-3 col-md-12 p-5 menu text-md-center text-sm-center position-relative">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 pt-lg-5">
                            {% for sous_categorie_infos in sous_categories_infos %}
                                {% do sous_categorie_infos.getDatas(locale) %}
                                <div class="text-center text-lg-start h3 py-3 menu-item {% if active_entry.id == sous_categorie_infos.id %}active{% endif %}" data-entry="entry{{ sous_categorie_infos.id }}" data-footer="footer{{ sous_categorie_infos.id }}">
                                    {{ sous_categorie_infos.title | upper}}
                                    <div class="w-100 position-relative" style="">
                                        <div class="triangle2 {% if active_entry.id == sous_categorie_infos.id %}active{% endif %}" data-entry="entry{{ sous_categorie_infos.id }}"></div>
                                        <div class="triangle3 {% if active_entry.id == sous_categorie_infos.id %}active{% endif %}" data-entry="entry{{ sous_categorie_infos.id }}"></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="d-lg-none">
                    <hr>
                </div>
                <!-- Contenu -->
                <div id="page-container" class="col-lg-9 col-md-12 mt-4 container-fluid pt-3">

                    <!-- COMMENT VENIR -->
                    <div id="entry41"  class="py-lg-5 px-2 px-lg-5 mb-4 mb-lg-0 container-fluid {% if active_entry.id != 41 %}hidden{% endif %}">

                        {% include 'frontoffice/_components/adress.html.twig' %}

                        <div class="fs-5 mt-5">
                            <h4>INFOS</h4>
                            {{ cat_comment_venir.content | raw }}
                        </div>


                    </div>

                    <!-- TARIFS ET BILLETTERIE -->
                    <div id="entry42" class="py-lg-5 px-2 px-lg-5  {% if active_entry.id != 42 %}hidden{% endif %} container-fluid">
                        {% do article_adress_billetterie.getDatas(locale) %}

                        {% include 'frontoffice/_components/adress.html.twig' %}

                        <div>
                            <!-- Component Adress -->
                            <div class="h4 py-5 text-center text-lg-start">{% do article_contact_billetterie.getDatas(locale) %}
                                {{ article_contact_billetterie.subtitle  }}
                            </div>
                            {% do article_contact_billetterie.getDatas(locale) %}
                            <div class="row gx-0 text-center text-lg-start">
                                <div class="row gx-0 d-lg-flex align-items-center">
                                    <div class="col-lg-1 col-md-3 text-center text-lg-start  mb-4">
    {#                                    {% set media = article_contact_billetterie.getMedia(15) %}#}
    {#                                    {% if media is not null %}#}
    {#                                        <img src="{{ url('ressources_image', {'width':'src','height':'src', 'media':media.media} ) }}" class="object-fit-contain card-img-top rounded-0 pb-4 pb-lg-0" style="max-height: 100px;" alt="...">#}
    {#                                    {% endif  %}#}
                                        <img style="max-width: 60px" src="{{ asset(getSiteImagePath('point_billet.svg')) }}" class="">

                                    </div>
                                    <div class="col-md-9 col-lg-5 fs-5 text-center text-lg-start">
                                        {% do cat_contact.getDatas(locale) %}
                                        {{ article_contact_billetterie.description | raw }}
                                    </div>
                                </div>
    {#                            <div class="col-12 col-lg-2 ">#}
    {#                                {% set media = article_contact_billetterie.getMedia(15) %}#}
    {#                                {% if media is not null %}#}
    {#                                    <img src="{{ url('ressources_image', {'width':'src','height':'src', 'media':media.media} ) }}" class="object-fit-contain card-img-top rounded-0 pb-4 pb-lg-0" style="max-height: 100px;" alt="...">#}
    {#                                {% endif  %}#}
    {#                            </div>#}
    {#                            <div class="col-12 col-lg-5 fs-5 lh-1">#}
    {#                                {{ article_contact_billetterie.description | raw }}#}
    {#                            </div>#}
                            </div>
                            <div class="fs-5 pt-4 pb-5">
                                {{ article_contact_billetterie.content | raw }}
                            </div>
                            <div class="fs-5 mb-5">
                                {% do article_abonnement_billetterie.getDatas(locale) %}
                                {{ article_abonnement_billetterie.description | raw }}
                            </div>
                            <h4>ABONNEMENT - LA CARTE LUNE - 10€</h4>
                            <div class="fs-5">
                                Valable 1 an de date à date : des économies dès votre deuxième concert !
                            </div>
                            <div class="row gx-0 pt-4">
                                <div class="col-12 col-lg-4 pe-3 py-3">
                                    {% set media = article_abonnement_billetterie.getMedia(15) %}
                                    {% if media is not null %}
                                        <a class="text-decoration-none" href="https://billetterie.lalune.net/abonnements/1652669054a538/renouvellement">
                                            <img src="{{ url('ressources_image', {'width':'src','height':'src', 'media':media.media} ) }}" class="card-img-top rounded-0" alt="...">
                                        </a>
                                    {% endif  %}
                                </div>
                                <div class="col-12 col-lg-8 fs-5 mt-4">
                                    {{ article_abonnement_billetterie.content | raw }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- QUESTIONS -->
                    <div id="entry43" class="py-lg-5 px-lg-5 {% if active_entry.id != 43 %}hidden{% endif %}">
                        {% include 'frontoffice/_components/adress.html.twig' %}

                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            {% for question in question_infos %}
                                <div class="accordion-item mt-4">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ loop.index }}" aria-expanded="false" aria-controls="flush-collapse-{{ loop.index }}">
                                            {{ question.title }}
                                        </button>
                                    </h2>
                                    <div id="flush-collapse-{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body fs-6"> {{ question.description | raw}}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Qui Sommes nous -->
                    <div id="entry49" class="py-lg-5 px-lg-5 {% if active_entry.id != 49 %}hidden{% endif %}">
                        {% include 'frontoffice/_components/adress.html.twig' %}

                        {% for article_qui_sommes in articles_qui_sommes %}
                            {% do article_qui_sommes.getDatas(locale) %}
                            <h3 class="blue-title mb-3 mt-5">{{ article_qui_sommes.title | upper }}</h3>

                            <div class="fs-5 p-2 mb-5">

                                {{ article_qui_sommes.description | raw }}

                            </div>
                            <div class="fs-5 p-2">

                                {{ article_qui_sommes.content | raw }}

                            </div>


                        {% endfor %}

                    </div>
                    <!--  NOUS CONTACTER -->
                    <div id="entry40" class="py-lg-5 px-2 px-lg-5 {% if active_entry.id != 40 %}hidden{% endif %}" >
                        {% include 'frontoffice/_components/adress.html.twig' %}

                        <div class="fs-5 my-5">

                            {{ cat_contact.content | raw }}
                        </div>
                        <div class="h4 mb-4">NOUS ÉCRIRE</div>

                        <!-- Formulaire -->
                        <form class="fs-5"  method="post" action="{{ path('fo_infos_contact') }}" >
                            <div class="form-group mb-4">
                                <label class="pb-2" for="select-contact">{{ field_label(form.subject) }} (obligatoire)</label>
                                <select class="form-control rounded-0 border-secondary fs-5 select-infos"  name="{{ field_name(form.subject) }}" id="contact">
                                    <option>Sélectionner ...</option>
                                    {% for subject, value in field_choices(form.subject) %}

                                        <option value="{{ value }}" {%  if active_subject is not null and loop.index0 == active_subject.index %}selected{% endif %}>{{ subject }}</option>
                                    {% endfor %}
                                </select>
                                {{ form_errors(form.subject) }}
                            </div>
                            <div class="form-group mb-4">
                                <label class="pb-2" for="mailInput">Votre {{ field_label(form.replyTo)|lower  }} (obligatoire)</label>
                                <input type="email" class="form-control rounded-0 border-secondary select-infos"  name="{{ field_name(form.replyTo) }}"  value="{{ field_value(form.replyTo) }}" id="mailInput" aria-describedby="emailHelp">
                                {{ form_errors(form.replyTo) }}
                            </div>
                            <div class="form-group mb-4">
                                <label class="pb-2" for="nomInput">Votre {{ field_label(form.name)|lower  }} (obligatoire)</label>
                                <input type="text" class="form-control rounded-0 border-secondary select-infos"  name="{{ field_name(form.name) }}" value="{{ field_value(form.name) }}" id="nomInput">
                                {{ form_errors(form.name) }}
                            </div>
                            <div class="form-group mb-4">
                                <label class="pb-2" for="messageInput">Votre {{ field_label(form.message) |lower }} (obligatoire)</label>
                                <textarea class="form-control  rounded-0 border-secondary"  name="{{ field_name(form.message) }}" style="min-height: 348px" id="messageInput" rows="3">{{ field_value(form.message) }}</textarea>
                                {{ form_errors(form.message) }}
                            </div>

                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input  rounded-0 border-secondary"  name="{{ field_name(form.getNewsletter) }}" type="checkbox" value="{{ field_value(form.getNewsletter) }}" id="newsCheck">
                                <label class="pb-2" class="form-check-label" for="newsCheck">
                                    {{ field_label(form.getNewsletter) }}
                                </label>
                            </div>
                            {{ form_row(form._token) }}

                            <!-- Submit -->
                            <div class="py-4">
                                <button type="submit" class="btn border border-secondary rounded-0 fs-4"><div>ENVOYER</div></button>
                            </div>
                            <div class="fs-6 pb-4">
                                En cliquant sur "Envoyer", vous acceptez de fournir les informations permettant qu'une réponse vous soit délivrée et que votre demande soit traitée. En indiquant votre adresse email, et en cochant la ou les cases associées, vous consentez à recevoir nos lettres d'information par voie électronique. Vous pouvez vous désinscrire à tout moment via les liens de désinscription ou en nous contactant.
                                <br><br>Pour en savoir plus, consultez notre <a class="black" href="https://dev-lalune.e-systemes.fr/confidentialite">Politique de confidentialité</a>.</div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="footer-container">


        <!-- BAS COMMENT VENIR -->
        <div id="footer41" class="bg-grey container-fluid {% if active_entry.id != 41 %}hidden{% endif %}">
            <div class="py-5 px-2 px-lg-5">
                <div class="row">
                    <div class="col-lg-9 col-md-12">
                        {% for article_comment_venir in articles_comment_venir %}
                            {% do article_comment_venir.getDatas(locale) %}
                            <div class="row d-flex align-items-center">
                                <div class="col-lg-2 offset-lg-4 col-md-3 text-center">
                                    {% set media = article_comment_venir.getMedia(13) %}

                                    {% if media is not null %}
                                        <img src="{{ url('ressources_image', {'width':'src','height':'src', 'media':media.media} ) }}" class="object-fit-cover card-img-top rounded-0 transport-infos" alt="...">
                                    {% endif  %}
                                </div>
                                <div class="col-lg-6 col-md-9 py-5">
                                    <div class="h3 fw-bold py-2 text-center text-lg-start">{{ article_comment_venir.title }}</div>
                                    <div class="fs-5">{{ article_comment_venir.description | raw }}</div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- PLAN -->
            {% set media = cat_comment_venir.getMedia(17) %}

            {% if media is not null %}
                <a href="https://www.google.com/maps/place/17+Quai+Belu,+80000+Amiens/@49.8965935,2.3044642,18.14z/data=!4m6!3m5!1s0x47e7843770099b73:0x65a4335dc8d72f5b!8m2!3d49.8964876!4d2.3048764!16s%2Fg%2F11cs8245jj?entry=ttu">
                    <img src="{{ url('ressources_image', {'width':'src','height':'src', 'media':media.media} ) }}" class="card-img-top rounded-0" alt="...">
                </a>
            {% endif  %}
        </div>

        <!-- BILLETTERIE BAS -->
        <div id="footer42" class="container-fluid bg-grey {% if active_entry.id != 42 %}hidden{% endif %}">
            <div class="wrapper">
            <div class="py-5 px-2 px-md-2 px-lg-5 ">
                <div class="row-header">
                    <div class="col-lg-9 col-12 offset-lg-3">

                        <div class="row">
                            <div class="col-12">
                                {% do article_tarif_etudiant_billetterie.getDatas(locale) %}
                                <div class="h3">{{ article_tarif_etudiant_billetterie.title }}</div>
                                <div class="fs-5">{{article_tarif_etudiant_billetterie.description | raw}}</div>
                            </div>
                            <!-- Image tarifs -->
                            <div class="col-1">
                                {% set media = article_tarif_etudiant_billetterie.getMedia(15) %}
                                {% if media is not null %}
                                    <img src="{{ asset(getSiteImagePath('BILLET.svg')) }}" class="object-fit-contain card-img-top rounded-0 tarif-infos" alt="...">
                                {% endif  %}
                            </div>
                            <div class="col-11 fs-5">
                                {{article_tarif_etudiant_billetterie.content | raw}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  text-center text-lg-start">

                <div class="col-lg-9 col-12 offset-lg-3">
                    {% do article_pass_billetterie.getDatas(locale) %}
                    <div class="py-5 px-2 px-lg-5 h2">
                        <div class="pb-2 h2">{{ article_pass_billetterie.title }}</div>
                        <div class="fs-5">
                            {{ article_pass_billetterie.description | raw }}
                        </div>

                        <div class=" pt-2 row">
                            <div class="col text-center text-lg-start">
                                {% set media = article_pass_billetterie.getMedia(15) %}
                                {% if media is not null %}
                                    <img src="{{ asset(getSiteImagePath('passculture.svg')) }}" class="object-fit-contain rounded-0 pass-culture-infos"  alt="...">
                                {% endif  %}
                            </div>
                            <div class="col text-start">
                                {% set media = article_pass_billetterie.getMedia(16) %}
                                {% if media is not null %}
                                    <img src="{{ asset(getSiteImagePath('CAPTCHA.svg')) }}" class="rounded-0 captcha-infos"  alt="...">
                                {% endif  %}
                            </div>


                        </div>


                    </div>
                </div>
            </div>
            </div>
        </div>

        <div id="footer43" class="{% if active_entry.id != 43 %}hidden{% endif %}">

        </div>

        <div id="footer49" class="{% if active_entry.id != 49 %}hidden{% endif %}">


        </div>


        <!-- BAS CONTACT -->
        <div id="footer40" class="{% if active_entry.id != 40 %}hidden{% endif %} bg-grey">
            <div class="wrapper">
                <div class="py-5 px-2 px-lg-5">
                    <div class="row gx-0">

                        <!-- Les Pirates -->
                        <div class="col-12">

    {#                        <!-- LOGO LUNE DES PIRATES -->#}
                            <div style="display: flex;">
                                <img style="height: 80px;" src="{{ asset(getSiteImagePath('MINI_LOGO.svg')) }}" class="text-lg-start">
                                <h1 style="display: inline-block; margin-left: 15px;" class="pb-5 text-center text-lg-start">Les Pirates</h1>
                            </div>                            <div class="row gx-0">
                                <div class="col-12 col-lg-8">
                                    <div class="row gx-0">
                                        {% for contact in contact_contact %}
                                            <div class="col-md-12 col-lg-6 py-2 text-center text-lg-start">
                                                <p class="h3">{{ contact.title }}</p>
                                                <div class="fs-5">{{ contact.description | raw}}</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <!-- L'équipe technique / Bénévoles -->
                                <div class="col-12 col-lg-4 pt-5 pt-lg-0 ">
                                    <div class="">
                                        <div class="h3 text-center text-lg-start">L'ÉQUIPE TECHNIQUE</div>
                                        <div class="fs-5 pb-5">

                                            {% for membre_tech in equipe_tech_contact %}
                                                {{ membre_tech.title }}{% if loop.index != equipe_tech_contact | length %},{% endif %}
                                            {% endfor %} ...
                                        </div>
                                    </div>
                                    <div class="h3 pt-5 text-center text-lg-start">MERCI AUX BÉNÉVOLES !</div>
                                    <p class="fs-5">
                                        {% for benevole in benevoles_contact %}
                                            {{ benevole.title }}{% if loop.index != benevoles_contact | length %},{% endif %}
                                        {% endfor %} ...
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
