<div class="card mb-3 mx-lg-3 shadow-lg rounded-0 h-100" style="max-height: 1100px; display: flex; flex-direction: column;">
    <div class="{% if agenda or soutiens %}prog{% endif %}">
        <!-- Image -->
        {% if agenda %}
            <a class="text-decoration-none stretched-link" href="{{ path('fo_agenda_detail', { 'slug': event.slug,}) }}">
        {% elseif soutiens %}
                <a class="text-decoration-none stretched-link" href="{{ path('fo_soutiens_detail', { 'slug': event.slug,}) }}">
        {% endif %}
        {% if media is not null %}
            <img src="{{ url('ressources_image', {'width':'medium','height':'medium', 'media':media.media} ) }}" class="card-img-top rounded-0" style="object-fit: cover; max-height: 35vh;" alt="...">
        {% elseif agenda %}
            {% set mediaCategoryAgenda = category_agenda.getMedia(22) %}
            {% if mediaCategoryAgenda is not null %}
                <img src="{{ url('ressources_image', {'width':'medium','height':'medium', 'media':mediaCategoryAgenda.media} ) }}" class="d-block w-100" alt="...">
            {% endif %}
        {% elseif actu %}
            {% set mediaCategoryActu = category_actu.getMedia(23) %}
            {% if mediaCategoryActu is not null %}
                {% set url = 'assets/images/' ~ mediaCategoryActu.media %}
                <img src="{{ asset((url)) }}" class="d-block w-100" alt="...">
            {% endif %}
        {% elseif soutiens %}

            {% set mediaCategorySoutiens = category_soutiens.getMedia(24) %}
            {% if mediaCategorySoutiens is not null %}
                <img src="{{ url('ressources_image', {'width':'medium','height':'medium', 'media':mediaCategorySoutiens.media} ) }}" class="d-block w-100" alt="...">
            {% endif %}
        {% endif %}

        {% if agenda or soutiens %}
            </a>
            <div class="overlay" style="">
                <div>
                    <i data-fa-i2svg=""><svg class="white svg-inline--fa fa-eye fa-1x" aria-hidden="true" focusable="false" data-prefix="far" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z"></path></svg></i>
                </div>
            </div>
            {% if event.cancelled %}
                <div class="cancelled-overlay">
                    <p class="cancelled-text">ANNULÉ</p>
                </div>
            {% elseif event.reported %}
                <div class="cancelled-overlay">
                    <p class="cancelled-text">REPORTÉ</p>
                </div>
            {% elseif event.full %}
                <div class="full-overlay">
                    <p class="cancelled-text">COMPLET</p>
                </div>
            {% endif %}
        </a>
        {% endif %}
    </div>
    <!-- Themes -->
    <div class="row mx-0 px-0">
        {% if actions == false %}
        {% set category = event.category %}
        {% do category.getDatas(locale) %}
            <div class="col-5 fs-6 theme-1 text-uppercase"  style="background-color: {% if category is not null %}{{ category.themeBackColor }};{% endif%} color: {{ event.themeTextColor }};">
                {{ event.category.title }}
            </div>
        {% else %}
            {% do event.getDatas(locale) %}
            <div class="col-5 fs-6 theme-1 text-uppercase"  style="background-color: #FB9E32">
                Action Culturelle
            </div>
        {% endif %}
        {% if event.style is not null and event.style is not empty %}
            <div class="col-7 white fs-6 theme-2 justify-content-start text-uppercase" style="background-color: black; }};">
                <img class="" style="width: 30px; padding-right: 5px;" src="{{ asset(getSiteImagePath('MINI_BILLETTERIE.svg')) }}"> {{ event.style }}
            </div>
        {% endif %}
        {% if actions %}
            <div class="col-7 white fs-6 theme-2 justify-content-start text-uppercase" style="background-color: black; }};">
                {{ event.publicType }}
            </div>
        {% endif %}
    </div>

    <!-- CARD CONTENT -->
    <div class="card-container" style="flex: 1;">
        <!-- Titre -->
        {% if agenda or actu %}
        <div class="my-3 fs-4 mb-0 fw-bold" style="line-height: 1">
            {% if event.eventName is not empty %}{{ event.eventName }} :{% endif%} {{ event.titleByLanguage | upper }}
        </div>
        {% endif %}
        <!-- CONTENU -->
        {% if agenda %}
            <div class="fs-5 card-text">
                {{ event.subtitle }}
            </div>
        {% endif %}
        {% if actu %}
            <!-- CONTENU -->
            <div class="card-text pt-2" style="line-height: 1">
                {{ event.description|raw }}
            </div>
        {% endif %}
    </div>

    <!-- CARD ACTIONS -->
    <div class="card-container mb-3 d-flex justify-content-between align-items-center">
        {% if agenda %}
            <div class="row">
                <div class= "fs-5 " style="align-self: flex-end;">
                    {{ formatCustomDate(event.dateEvent) }}
                </div>
                {% if event.datetimeEvent is not null and event.datetimeEvent is not empty %}
                    <div class="fs-5">{{ event.datetimeEvent| date("H:i") }}</div>
                {% endif %}
            </div>
        {% endif %}
        {% if showButton %}
            <a href="{{ path('fo_actus_detail', { 'slug': event.slug}) }}" class="btn-read-card">LIRE LA SUITE</a>
        {% endif %}
        {% if billetterie %}
            {% if event.ticketingLink is not empty and event.ticketingLink is not null %}
                <a href="{{ event.ticketingLink }}">
                    <img class="btn-billetterie-card" src="{{ asset(getSiteImagePath('LIEN_BILLETTERIE.jpg')) }}" alt="...">
                </a>
            {% else %}
                <a href="https://billetterie.lalune.net/">
                    <img class="btn-billetterie-card" src="{{ asset(getSiteImagePath('LIEN_BILLETTERIE.jpg')) }}" alt="...">
                </a>
            {% endif %}
        {% endif %}
        {% if soutiens or actions %}
            <div class="fs-2 justify-content-start">
                {{ event.titleByLanguage }}
            </div>
            {% if soutiens %}
                <a class="text-decoration-none" href="{{ path('fo_soutiens_detail', { 'slug': event.slug,}) }}">
            {% elseif actions %}
                <a class="text-decoration-none" href="{{ path('fo_actions_detail', { 'title': event.title}) }}">
            {% endif %}
                <div class="">
                    <img src="{{ asset(getSiteImagePath('OEIL.png')) }}" class="card-img-top rounded-0" style="height: 30px; min-width: 37px" alt="...">
                </div>
            </a>
        {% endif %}
    </div>
</div>
