<div class="container-fluid bg-footer pt-5">

    <!-- LOGOS -->
    <div class="row pb-5">
        <div class="col-12 col-lg-6">
            <div style="padding-left: 30px">
                <img style="max-width: 600px" src="{{ asset(getSiteImagePath('footer-logo.svg')) }}">
            </div>
        </div>
        <div class="d-none d-lg-block col-6 text-end">
            <div style="padding-right: 30px">
                <img style="max-width: 130px" src="{{ asset(getSiteImagePath('footer-logo2.svg')) }}">
            </div>
        </div>
    </div>

    <!-- BOUTONS FOOTER -->
    <div class="row row-cols-2 row-cols-lg-4 text-white px-2">
        <div class="col">
            <div class="border-dotted-right-white text-center">
                <a class="text-decoration-none" style="color: white !important" href="{{ path('fo_infos_contact') }}">
                <img class="img-fluid" style="width: 80px" src="{{ asset(getSiteImagePath('footer-home.svg')) }}">
                    <div class="mt-2 mb-4 mb-lg-0">
                        <p class="mb-0"><b>SCÈNE DE MUSIQUES ACTUELLES </b></p>
                        <p>17 Quai Bélu  80000 Amiens</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="border-dotted-right-white text-center">
                <a class="text-decoration-none" style="color: white !important" href="{{ path('fo_contact_contact') }}">
                    <img class="img-fluid" style="width: 80px" src="{{ asset(getSiteImagePath('footer-contact.svg')) }}">
                    <div class="mt-2">
                        NOUS CONTACTER
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="border-dotted-right-white text-center">
                <a class="text-decoration-none" style="color: white !important" href="https://billetterie.lalune.net/identification">
                    <img class="img-fluid" style="width: 80px" src="{{ asset(getSiteImagePath('footer-commandes.svg')) }}">
                    <div class="mt-2">
                        VOS COMMANDES
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="text-center"  id="btn-modal">
                <img class="" style="width: 80px;cursor: pointer" src="{{ asset(getSiteImagePath('footer-newsletter.svg')) }}">
                <div  class="text-center mt-2">
                    NEWSLETTER
                </div>
            </div>
        </div>
    </div>

    <!-- MEDIAS SOCIAUX -->
    <div class="text-center mt-3">
        <a href="tel:+33322978801" class="text-decoration-none px-3">
            <img style="width: 70px;" src="{{ asset(getSiteImagePath('footer-tel.svg')) }}">
        </a>
        <a href="https://www.instagram.com/lalunedespirates/?hl=fr " class="text-decoration-none px-3">
            <img style="width: 70px;" src="{{ asset(getSiteImagePath('footer-insta.svg')) }}">
        </a>
        <a href="https://www.facebook.com/lalunedespirates/?locale=fr_FR" class="text-decoration-none px-3">
            <img style="width: 70px;" src="{{ asset(getSiteImagePath('footer-fb.svg')) }}">
        </a>
    </div>

</div>
<div class="container-fluid bg-grey pb-5">
    <!-- PARTENAIRES ET SPONSORS -->
    <div class="pt-5 bg-grey px-0 mx-0">
        <div class="row row-cols-3 row-cols-lg-5 px-0 mx-0 justify-content-around">
            {% for sponsor_img in sponsors_img %}
                {% set media_footer = sponsor_img.getMedia(11) %}
                <div class="col mb-2 text-center">
                    {% if media_footer is not null %}
                        <img src="{{ url('ressources_image', {'width':'medium','height':'medium', 'media':media_footer.media} ) }}" class="card-img-top rounded-0" style="max-height: 100px; max-width: 163px" alt="...">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- MENTIONS LEGALES -->
    <div class="bg-grey row pt-5 px-0 mx-0">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6 justify-content-between">
            <div class="col text-center">
                <a  class="text-decoration-none black" href="/sitemap">Plan du site</a>
            </div>
            <div class="col text-center">
                <a  class="text-decoration-none black" href="/faq">FAQ</a>
            </div>
            <div class="col text-center">
                <a  class="text-decoration-none black" href="/mentions">Mentions légales</a>
            </div>
    {#        <div class="col text-center">#}
    {#            <a  class="text-decoration-none black" href="/cgv">CGV</a>#}
    {#        </div>#}
            <div class="col text-center">
                <a  class="text-decoration-none black" href="/confidentialite">Politique de Confidentialité</a>
            </div>
            <div class="col text-center">
                <a  class="text-decoration-none black" href="/espacepresse">Espace presse</a>
            </div>
        </div>

    </div>

    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe width="540" height="1080" src="https://214477ab.sibforms.com/serve/MUIFALCcK-RCXOxOQk6NSs3MuMvBO7GvwseE6E5j7wRIwaJBTQHcjUKV2tFz5TyDOuAp3qzRcIwlDIMjYGy5Zu9NHcV-5ykxD2pyvEJzXjO_roPHSf0zgx-M30FS0gR4yI1n10MnEQlRl_V1_IVSdGoAk8iVV1dYF-Od0kGa3aDHngBm1e8bgTfBMM-vf9EMLnbepNvmpujo5LIO" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>            </div>
            </div>
        </div>
    </div>
</div>