<!-- HEADER LG -->
{% block stylesheet %}
    <style>
        .row-header {
            --bs-gutter-x: 0; /* Annule le décalage horizontal */
            --bs-gutter-y: 0; /* Annule le décalage vertical */

            display: flex;
            flex-wrap: wrap;
            margin-top: 0;
            margin-right: 0;
            margin-left: 0;
        }

    </style>
{% endblock %}
<div class="d-none d-lg-block p-0 m-0">
    <div class="row-header" style="margin-left: 0 !important; margin-right: 0 !important">
        <div class="col-3 p-4">
            <a href="{{ path('fo_home_index') }}">
                <img class="img-fluid logo-header" src="{{ asset('build/maquette/images/LOGO_HEADER.jpg') }}">
            </a>
        </div>



        <div class="col-lg-9 col-md-9 d-block flex-column align-items-start p-0">
            <nav class="navbar navbar-expand-lg col-12 mt-auto px-lg-5">
                <ul class="navbar-nav w-100 justify-content-end pt-3 px-lg-5">
                    {% for event_header in category_gallery_articles_header %}
                        {% for media_header_key, media_header_value in array_photos_header %}
                            {% if event_header.id == media_header_key %}
                                {% if loop.index < 5 %}
                                    <li class="nav-item " style="z-index: {{ 1000 - loop.index }}">
                                        <a class="text-decoration-none" href="{{ path('gallery') }}">
                                            {% set longueurMax = 10 %}
                                            {% set url = '/assets/images/gallery/' ~ media_header_value[0].media %}

                                                <img src="{{ asset((url)) }}" class=" rounded-circle round-img-header" style="width: 80px;height: 80px; object-fit: cover" alt="...">
                                                {% if event_header.title|length > longueurMax %}

                                                    <div class="text-center ml-15" style="font-size: 12px">{{ event_header.dateEvent | date('d/m') }} </div>
                                                    <div class="text-center ml-15" style="font-size: 12px">{{ event_header.title|slice(0, longueurMax) ~ '...' }}</div>
                                                {% else %}
                                                    <div class="text-center ml-15" style="font-size: 12px">{{ event_header.dateEvent | date('d/m') }} </div>
                                                    <div class="text-center ml-15" style="font-size: 12px">{{ event_header.title }}</div>
                                                {% endif %}

                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}




{#                    {% for event_header in events_header %}#}
{#                        {% set media = event_header.getMedia(12) %}#}

{#                        {% if loop.index < 5 %}#}
{#                            <li class="nav-item " style="z-index: {{ 1000 - loop.index }}">#}
{#                                <a class="text-decoration-none" href="/agenda/{{ event_header.slug}}">#}
{#                                    {% set longueurMax = 10 %}#}
{#                                    {% if media is not null %}#}
{#                                        {% set url = '/assets/images/' ~ media.media %}#}
{#                                        <img src="{{ asset((url)) }}" class="rounded-circle round-img-header" alt="...">#}
{#                                    {% else  %}#}
{#                                        <img src="{{ asset(('build/front/images/PLACEHOLDER_CARD_SQUARE.png')) }}" class="rounded-circle round-img-header " style="{% if loop.index == 4 %}margin-right:10px{% endif %}" alt="...">#}
{#                                    {% endif %}#}

{#                                    {% if loop.index < 4 %}#}
{#                                        {% if event_header.title|length > longueurMax %}#}

{#                                            <div class="text-center ml-15" style="font-size: 12px">{{ event_header.dateEvent | date('d/m') }} </div>#}
{#                                            <div class="text-center ml-15" style="font-size: 12px">{{ event_header.title|slice(0, longueurMax) ~ '...' }}</div>#}
{#                                        {% else %}#}
{#                                            <div class="text-center ml-15" style="font-size: 12px">{{ event_header.title }}</div>#}
{#                                        {% endif %}#}
{#                                    {% else %}#}
{#                                        {% if event_header.title|length > longueurMax %}#}

{#                                            <div class="text-center" style="margin-right: 40px;font-size: 12px">{{ event_header.dateEvent | date('d/m') }}</div>#}
{#                                            <div class="text-center" style="margin-right: 40px;font-size: 12px">{{ event_header.title|slice(0, longueurMax) ~ '...' }}</div>#}
{#                                        {% else %}#}
{#                                            <div class="text-center" style="margin-right: 40px;font-size: 12px">{{ event_header.title }}</div>#}
{#                                        {% endif %}#}
{#                                    {% endif %}#}
{#                                </a>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}


                    <div class="d-flex align-items-center">
                    {% for src, siteWeb in btns %}
                        {% set url = 'build/front/images/' %}
                        {% set src = url ~ src %}
                            <a href="{{ siteWeb }}" class="mx-1">
                                <li><img class="btns-header" src="{{ asset(src) }}"></li>
                            </a>
                    {% endfor %}
                    </div>
                </ul>
            </nav>
            <!-- NAV BAR LG -->
{#            <div class="d-none d-lg-flex block navbar-expand-lg col-12 mb-auto pt-4">#}
{#                <div class="row row-cols-auto">#}
{#                {% for name, url in menu %}#}
{#                    <div class="col">#}
{#                        <a class="text-decoration-none black fs-4"  href="{{ path(url) }}">{{ name|upper }}</a>#}

{#                    </div>#}
{#                    {% if loop.index0 < 4 %}#}
{#                        <div class="col">#}
{#                                <img class="nav-separator" src="{{ asset('build/maquette/images/separator.png') }}">#}
{#                        </div>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#                </div>#}
{#            </div>#}
            <div class="d-none d-lg-flex block navbar-expand-lg col-12 mb-auto pt-4">
                <div class="row  row-cols-auto">
                    {% for name, url in menu %}
                        <div class="px-4 col {% if loop.index0 != 0 %} border-dotted-black {% endif %}">
                            <a class="text-decoration-none black fs-4"  href="{{ path(url) }}">{{ name|upper }}</a>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- HEADER MD/SM -->

<div class="d-lg-none container-fluid">
    <div class="row">
        <div class="col-6">
            <a href="{{ path('fo_home_index') }}">
                <img style="max-width: 100%" src="{{ asset('build/maquette/images/LOGO_ACTUEL.png') }}">
            </a>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="row pt-3">

                        {% for event_header in category_gallery_articles_header %}
                        {% for media_header_key, media_header_value in array_photos_header %}
                        {% if event_header.id == media_header_key %}
                            {% if loop.index < 5 %}
                                <div class="col-6">
                                    <a class="text-decoration-none" href="{{ path('gallery') }}">
                                        {% set url = '/assets/images/gallery/' ~ media_header_value[0].media %}

                                            <img src="{{ asset((url)) }}" class="cover rounded-circle round-img-header-sm" style="z-index:{{ 1000 +  loop.index }}; height: 50px;width: 50px" alt="...">

                                    </a>
                                </div>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
        {% for src, siteWeb in btns %}
            <div class="col-3 text-center">
                {% set url = 'build/front/images/' %}
                {% set src = url ~ src  %}
                <a href="{{ siteWeb }}" class="mx-1">
                <img class="btns-header" src="{{ asset(src) }}">
                </a>
            </div>
        {% endfor %}
        <div class="col-3 text-center">

            <button class="btn btn-move-up "  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <img class="btns-header" src="{{ asset('build/maquette/images/MENU_HEADER.png') }}">
            </button>

        </div>
        <div class="col text-center">
            <div class="dropdown">

                <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-body">
                        <nav class="navbar navbar-dark py-0" style="color: black">
                            <ul class="navbar-nav w-100">
                                <!-- Catégorie du menu -->
                                <li class="nav-item border-y ps-3">
                                    <div class="round-left nav-link fs-1" href=""><a class="text-decoration-none" style="color: black" href="/home">> ACCUEIL</a></div>
                                    {% for name, url in menu %}
                                        <div class="round-left nav-link fs-1" href=""><a class="text-decoration-none" style="color: black" href="{{ path(url) }}">> {{ name|upper }}</a></div>
                                    {% endfor %}
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

