<!-- HEADER LG -->
{% block stylesheet %}
    <style>
        .row-header {
            --bs-gutter-x: 0;
            --bs-gutter-y: 0;
            display: flex;
            flex-wrap: wrap;
            margin-top: 0;
            margin-right: 0;
            margin-left: 0;
        }
    </style>
{% endblock %}
<div class="d-none d-lg-block p-0 m-0">
    <div class="row-header" style="margin-left: 0 !important; margin-right: 0 !important">
        <div class="col-3 p-4">
            <a href="{{ path('fo_home_index') }}">
                <img class="img-fluid logo-header" style="max-height: 200px" src="{{ asset(getSiteImagePath('LOGO_HEADER.svg')) }}">
            </a>
        </div>
        <div class="col-lg-9 col-md-9 d-block flex-column align-items-start p-0">
            <!-- Boutons galerie et Bouton Menu -->
            <nav class="navbar navbar-expand-lg col-12 mt-auto px-lg-5">
                <ul class="navbar-nav w-100 justify-content-end pt-3 px-lg-5">
                    {% for event_header in category_gallery_articles_header %}
                        {% for media_header_key, media_header_value in array_photos_header %}
                            {% if event_header.id == media_header_key %}
                                {% if loop.index < 5 %}
                                    <li class="nav-item " style="z-index: {{ 1000 - loop.index }}">
                                        <a class="text-decoration-none" href="{{ path('gallery') }}">
                                            {% set longueurMax = 10 %}
                                            {% set url = '/assets/images/gallery/' ~ media_header_value[0].media %}
                                            <img src="{{ asset((url)) }}" class=" rounded-circle round-img-header" style="width: 80px;height: 80px; object-fit: cover" alt="...">
                                            {% if event_header.titleByLanguage|length > longueurMax %}

                                                <div class="text-center ml-15" style="font-size: 12px">{{ event_header.dateEvent | date('d/m') }} </div>
                                                <div class="text-center ml-15" style="font-size: 12px">{{ event_header.titleByLanguage|slice(0, longueurMax) ~ '...' }}</div>
                                            {% else %}
                                                <div class="text-center ml-15" style="font-size: 12px">{{ event_header.dateEvent | date('d/m') }} </div>
                                                <div class="text-center ml-15" style="font-size: 12px">{{ event_header.titleByLanguage }}</div>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <div class="d-flex align-items-center">
                    {% for src, siteWeb in btns %}
                            <a href="{{ siteWeb }}" class="mx-1">
                                <li><img class="btns-header" style="height: 57px" src="{{ asset(getSiteImagePath(src)) }}"></li>
                            </a>
                    {% endfor %}
                    </div>
                </ul>
            </nav>
            <!-- Menu avec dropdowns -->
            <div class="d-none d-lg-flex block navbar-expand-lg col-12 mb-auto pt-4">
                <div class="row  row-cols-auto">
                    {% for url, category_header in menu_category_datas %}
                        <ul class="px-4 col {% if loop.index0 != 0 %} border-dotted-black {% endif %}">
                            {% do category_header.getDatas(locale) %}
                                {% if category_header.id == 6 or category_header.id == 53 %}
                                    <div class="dropdown">
                                        <a class="dropdown-toggle text-decoration-none fs-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ category_header.title|upper }}
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item dropdown-select-item-li text-decoration-none black fs-4" href="{{ path(url ~ category_header.url) }}">{{ category_header.title|upper }} - INDEX</a></li>
                                            {% for sous_categories in category_header.children %}
                                                {% if category_header.id == 6 %}
                                                <li><a class="dropdown-item dropdown-select-item-li text-decoration-none black fs-4" href="{{ path(url ~ sous_categories.url) }}#{{ sous_categories.title }}">{{ sous_categories.title|upper }}</a></li>
                                                {% elseif category_header.id == 53 %}
                                                    <li><a class="dropdown-item dropdown-select-item-li text-decoration-none black fs-4" href="{{ path(url ~ sous_categories.url) }}{{ sous_categories.title }}">{{ sous_categories.title|upper }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% else %}
                                    <a class="text-decoration-none black fs-4"  href="{{ path(url) }}">{{ category_header.title|upper }}</a>
                                {% endif %}
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- HEADER MD/SM -->

<div class="d-lg-none container-fluid">
    <div class="row">

        <div class="col-6 p-3">
            <a href="{{ path('fo_home_index') }}">
                <img style="max-width: 100%" src="{{ asset(getSiteImagePath('LOGO_HEADER.svg')) }}">
            </a>
        </div>
        <div class="col-6">
            <div class="row">

                <div class="col-12">
                    <div class="row pt-3">
                        {% for event_header in category_gallery_articles_header %}
                            {% for media_header_key, media_header_value in array_photos_header %}
                                {% if event_header.id == media_header_key %}
                                    {% if loop.index < 5 %}
                                        <div class="col-6">
                                            <a class="text-decoration-none" href="{{ path('gallery') }}">
                                                {% set url = '/assets/images/gallery/' ~ media_header_value[0].media %}
                                                <img src="{{ asset((url)) }}" class="object-fit-cover rounded-circle round-img-header-sm" style="z-index:{{ 1000 +  loop.index }}; height: 50px;width: 50px" alt="...">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% for src, siteWeb in btns %}
            <div class="col-3 text-center">
                <a href="{{ siteWeb }}" class="mx-1">
                <img class="btns-header" src="{{ asset(getSiteImagePath(src)) }}">
                </a>
            </div>
        {% endfor %}
        <div class="col-3 text-center">
            <button class="btn btn-move-up "  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <img class="btns-header" src="{{ asset(getSiteImagePath('MENU_HEADER.png')) }}">
            </button>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <nav class="navbar navbar-dark py-0" style="color: black;">
            <ul class="navbar-nav w-100">
                <!-- Catégorie du menu -->
                <li class="nav-item border-y ps-3">
                    <div class="nav-link fs-3" href=""><a class="text-decoration-none" style="color: black" href="/home">> ACCUEIL</a></div>
                    <hr>
                    {% for url, category in menu_category_datas %}
                        <div class="nav-link fs-3" href=""><a class="text-decoration-none" style="color: black" href="{{ path(url) }}">> {{ category.title|upper }}</a></div>
                        {% if not loop.last %}
                        <hr>
                        {% endif %}
                    {% endfor %}
                </li>
            </ul>
        </nav>

    </div>
</div>