<!-- HEADER LG -->
<div class="d-md-none d-sm-none p-0 m-0 d-lg-block">
    <div class="row">
        <div class="col-3 p-4">
            <a href="{{ path('fo_home_index') }}">
                <img class="img-fluid logo-header" src="{{ asset('build/maquette/images/LOGO_HEADER.jpg') }}">
            </a>
        </div>
        <div class="col-lg-9 col-md-9 d-block flex-column align-items-start p-0">
            <nav class="navbar navbar-expand-lg col-12 mt-auto px-lg-5">
                <ul class="navbar-nav w-100 justify-content-end pt-3 px-lg-5">

                    {% for event_header in events_header %}
                        {% set media = event_header.getMedia(12) %}

                        {% if loop.index < 5 %}
                            <li class="nav-item " style="z-index: {{ 1000 - loop.index }}">
                                <a class="text-decoration-none" href="/agenda/{{ event_header.slug}}
">
                                    {% set longueurMax = 10 %}
                                    {% if media is not null %}
                                        {% set url = '/assets/images/' ~ media.media %}
                                        <img src="{{ asset((url)) }}" class="rounded-circle round-img-header" alt="...">
                                    {% else  %}
                                        <img src="{{ asset(('build/front/images/PLACEHOLDER_CARD_SQUARE.png')) }}" class="rounded-circle round-img-header " style="{% if loop.index == 4 %}margin-right:10px{% endif %}" alt="...">
                                    {% endif %}

                                    {% if loop.index < 4 %}
                                        {% if event_header.title|length > longueurMax %}

                                            <div class="text-center ml-15" style="font-size: 12px">{{ event_header.dateEvent | date('d/m') }}</div>
                                            <div class="text-center ml-15" style="font-size: 12px">{{ event_header.title|slice(0, longueurMax) ~ '...' }}</div>
                                        {% else %}
                                            <div class="text-center ml-15" style="font-size: 12px">{{ event_header.title }}</div>
                                        {% endif %}
                                    {% else %}
                                        {% if event_header.title|length > longueurMax %}

                                            <div class="text-center" style="margin-right: 40px;font-size: 12px">{{ event_header.dateEvent | date('d/m') }}</div>
                                            <div class="text-center" style="margin-right: 40px;font-size: 12px">{{ event_header.title|slice(0, longueurMax) ~ '...' }}</div>
                                        {% else %}
                                            <div class="text-center" style="margin-right: 40px;font-size: 12px">{{ event_header.title }}</div>
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}


                    <div class="d-flex align-items-center">
                    {% for src in btns %}
                        {% set url = 'build/front/images/' %}
                        {% set ext = '.jpg' %}
                        {% set src = url ~ src ~ ext %}
                            <a href="/gallery" class="mx-1">
                                <li><img class="btns-header" src="{{ asset(src) }}"></li>
                            </a>
                    {% endfor %}
                    </div>
                </ul>
            </nav>
            <!-- NAV BAR LG -->
            <div class="d-none d-lg-flex block navbar-expand-lg col-12 mb-auto">
                <div class="row row-cols-auto">
                {% for name, url in menu %}
                    <div class="col">
                        <strong><a class="text-decoration-none black title-nav-lg"  href="{{ path(url) }}">{{ name|upper }}</a></strong>

                    </div>
                    {% if loop.index0 < 4 %}
                        <div class="col">
                                <img class="nav-separator" src="{{ asset('build/maquette/images/separator.png') }}">
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- HEADER MD/SM -->

<div class="d-lg-none">
    <div class="row">
        <div class="col-6">
            <a href="{{ path('fo_home_index') }}">
                <img src="{{ asset('build/maquette/images/LOGO_ACTUEL.png') }}">
            </a>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-8 offset-3 pt-5">
                    {% for event_header in events_header %}
                        {% set media = event_header.getMedia(12) %}

                        {% if loop.index < 5 %}
                                <a class="text-decoration-none" href="/agenda/{{ event_header.slug }}">

                                    {% if media is not null %}
                                        {% set url = '/assets/images/' ~ media.media %}
                                        <img src="{{ asset((url)) }}" class="rounded-circle round-img-header" style="z-index:{{ 1000 +  loop.index }}" alt="...">
                                    {% else  %}
                                        <img src="{{ asset(('build/front/images/PLACEHOLDER_CARD_SQUARE.png')) }}" class="rounded-circle round-img-header" style="z-index:{{ 1000 + loop.index }};{% if loop.index == 4 %}margin-right:10px{% endif %}" alt="...">
                                    {% endif %}
                                </a>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
        {% for src in btns %}
            <div class="col-2 offset-1 text-center btns-header">
                {% set url = 'build/front/images/' %}
                {% set ext = '.jpg' %}
                {% set src = url ~ src ~ ext %}
                <img src="{{ asset(src) }}">
            </div>
        {% endfor %}
        <div class="col-2 offset-1 text-center">

            <button class="btn btn-move-up"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <img style="max-height: 57px" src="{{ asset('build/maquette/images/MENU_HEADER.png') }}">
            </button>

        </div>
        <div class="col-4 text-center">
            <div class="dropdown">

                <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-body">
                        <nav class="navbar navbar-dark py-0" style="color: black">
                            <ul class="navbar-nav w-100">
                                <!-- Catégorie du menu -->
                                <li class="nav-item border-y ps-3">
                                    <div class="round-left nav-link fs-1" href=""><a class="text-decoration-none" style="color: black" href="/home">> ACCUEIL</a></div>
                                    {% for name, url in menu %}
                                        <div class="round-left nav-link fs-1" href=""><a class="text-decoration-none" style="color: black" href="{{ path(url) }}">> {{ name|upper }}</a></div>
                                    {% endfor %}
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

