<!-- HEADER LG -->
<!-- Mode desktop -->
<div class="container-fluid d-none d-lg-block" style="margin-top:35px">
    <div class="row">
        <div class="col-3">
            <div style="padding-left: 30px">
                <a href="{{ path('fo_home_index') }}">
                    <img style="max-width: 234px" src="{{ asset(getSiteImagePath('LOGO_HEADER.svg')) }}" alt="la_lune_logo">
                </a>
            </div>
        </div>
        <div class="col-9">
            <!-- Boutons galerie et Bouton Menu -->
            <div style="padding-right: 30px">
                <div class="d-flex justify-content-end align-items-center">
                    {% set count_header = 0  %}
                    {% for article_datas in gallery_articles_header %}
                        {% if article_datas['photos'] != null %}
                            {% for photo in article_datas['photos'] %}
                                {% if loop.index == 1 %}
                                    {% set count_header = count_header + 1  %}
                                    <div style="z-index: {{ 1000 - count_header }}">
                                        <a
                                                class="text-decoration-none"
                                                href="{{ url('ressources_image', {'width':'src','height':'src', 'media':photo.media}) }}"
                                                data-lightbox="image-{{ loop.parent.loop.index0 }}"
                                                data-title="{{ article_datas['article'].title ~ ' - ' ~ article_datas['article'].dateEvent | date("d/m/Y")  }}"
                                        >
                                            {% set longueurMax = 10 %}
                                            <img src="{{ url('ressources_image', {'width':'small','height':'small', 'media':photo.media} ) }}" class=" rounded-circle round-img-header">
                                            {% if article_datas['article'].titleByLanguage|length > longueurMax %}

                                                <div class="text-center header-gallery-art" style="font-size: 12px">{{ article_datas['article'].dateEvent | date('d/m') }} </div>
                                                <div class="text-center header-gallery-art" style="font-size: 12px">{{ article_datas['article'].titleByLanguage|slice(0, longueurMax) ~ '...' }}</div>
                                            {% else %}
                                                <div class="text-center header-gallery-art" style="font-size: 12px">{{ article_datas['article'].dateEvent | date('d/m') }} </div>
                                                <div class="text-center header-gallery-art" style="font-size: 12px">{{ article_datas['article'].titleByLanguage }}</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                {% else %}
                                    <a  href="{{ url('ressources_image', {'width':'src','height':'src', 'media':photo.media}) }}" data-lightbox="image-{{ loop.parent.loop.index0 }}"></a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <a href="{{ path('gallery') }}"  class="ms-2 text-decoration-none" style="padding-bottom: 30px">
                        <img style="width: 62px" src="{{ asset(getSiteImagePath('header-galerie.svg')) }}">
                    </a>
                    <a rel="nofollow" href="https://billetterie.lalune.net/identification"  class="ms-2 text-decoration-none" style="padding-bottom: 30px">
                        <img style="width: 62px" src="{{ asset(getSiteImagePath('header-account.svg')) }}">
                    </a>
                    <a rel="nofollow" href="https://billetterie.lalune.net/"  class="ms-2 text-decoration-none" style="padding-bottom: 30px">
                        <img style="width: 62px" src="{{ asset(getSiteImagePath('header-basket.svg')) }}">
                    </a>
                </div>
            </div>
            <div>

            </div>
            <nav class="navbar navbar-expand-lg mt-auto px-lg-5">
                <ul class="navbar-nav w-100 justify-content-end pt-3 px-lg-5">


                </ul>
            </nav>
            <!-- Menu avec dropdowns -->
            <div class="d-none d-lg-flex block navbar-expand-lg col-12">
                <div class="row  row-cols-auto">
                    {% for url, category_header in menu_category_datas %}
                        <ul class="px-4 col {% if loop.index0 != 0 %} border-dotted-black {% endif %}">
                            {% do category_header.getDatas(locale) %}
                                {% if category_header.id == 6 or category_header.id == 53 %}
                                    <div class="dropdown">
                                        <a class="dropdown-toggle text-decoration-none fs-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ category_header.title|upper }}
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item dropdown-select-item-li text-decoration-none black fs-4" href="{{ path(url ~ category_header.url) }}">{{ category_header.title|upper }} - INDEX</a></li>
                                            {% for sous_categories in category_header.children %}
                                                {% if category_header.id == 6 %}
                                                <li><a class="dropdown-item dropdown-select-item-li text-decoration-none black fs-4" href="{{ path(url ~ sous_categories.url) }}#{{ sous_categories.title }}">{{ sous_categories.title|upper }}</a></li>
                                                {% elseif category_header.id == 53 %}
                                                    <li><a class="dropdown-item dropdown-select-item-li text-decoration-none black fs-4" href="{{ path(url ~ sous_categories.url) }}{{ sous_categories.title }}">{{ sous_categories.title|upper }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% else %}
                                    <a class="text-decoration-none black fs-4"  href="{{ path(url) }}">{{ category_header.title|upper }}</a>
                                {% endif %}
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- HEADER MD/SM -->

<div class="d-lg-none container-fluid" style="margin-top:24px; margin-bottom: 20px">
    <div class="row">
        <div class="col-3">
            <a href="{{ path('fo_home_index') }}">
                <img style="" src="{{ asset(getSiteImagePath('LOGO_HEADER.svg')) }}">
            </a>
        </div>
        <div class="col-9 d-flex justify-content-end align-items-center">

            <a href="/gallery"  class="ms-2 text-decoration-none">
                <img style="width: 44px" src="{{ asset(getSiteImagePath('header-galerie.svg')) }}">
            </a>
            <a rel="nofollow" href="https://billetterie.lalune.net/identification"  class="ms-2 text-decoration-none">
                <img style="width: 44px" src="{{ asset(getSiteImagePath('header-account.svg')) }}">
            </a>
            <a rel="nofollow" href="https://billetterie.lalune.net/"  class="ms-2 text-decoration-none">
                <img style="width: 44px" src="{{ asset(getSiteImagePath('header-basket.svg')) }}">
            </a>
            <button class="btn p-0 ms-2" style=""  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <img style="width: 44px" src="{{ asset(getSiteImagePath('header-menu.svg')) }}">
            </button>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <nav class="navbar navbar-dark py-0" style="color: black;">
            <ul class="navbar-nav w-100">
                <!-- Catégorie du menu -->
                <li class="nav-item border-y ps-3">
                    <div class="nav-link fs-3" href=""><a class="text-decoration-none" style="color: black" href="/home">> ACCUEIL</a></div>
                    <hr>
                    {% for url, category in menu_category_datas %}
                        <div class="nav-link fs-3" href=""><a class="text-decoration-none" style="color: black" href="{{ path(url) }}">> {{ category.title|upper }}</a></div>
                        {% if not loop.last %}
                        <hr>
                        {% endif %}
                    {% endfor %}
                </li>
            </ul>
        </nav>

    </div>
</div>