<!-- HEADER LG -->
<div class="d-md-none d-sm-none p-0 m-0 d-lg-block">
    <div class="row">
        <div class="col-3">
            <a href="{{ path('fo_home_index') }}">
                <img class="img-fluid" src="{{ asset('build/maquette/images/LOGO_ACTUEL.png') }}">
            </a>
        </div>
        <div class="col-9 d-block flex-column align-items-start p-0">
            <nav class="navbar navbar-expand-lg col-12 mt-auto">
                <ul class="navbar-nav w-100 justify-content-end pt-3">

                    {% for event_header in events_header %}
                        {% set media = event_header.getMedia(12) %}

                        {% if loop.index < 5 %}
                            <li class="nav-item">
                                <a class="text-decoration-none" href="/agenda/{{ event_header.category.id }}/{{ event_header.title }}">

                                    {% if media is not null %}
                                        {% set url = '/assets/images/' ~ media.media %}
                                        <img src="{{ asset((url)) }}" class="rounded-circle round-img-header" style="z-index:{{ 1000 -  loop.index }} !important;" alt="...">
                                    {% else  %}
                                        <img src="{{ asset(('build/front/images/PLACEHOLDER_CARD_SQUARE.png')) }}" class="rounded-circle round-img-header z-{{ 5 - loop.index}} " style="{% if loop.index == 4 %}margin-right:10px{% endif %}" alt="...">
                                    {% endif %}
                                    {% if loop.index < 4 %}
                                        <div class="text-center ml-40">{{ event_header.title }}</div>
                                        <div class="text-center ml-40">{{ event_header.dateEvent | date('d/m') }}</div>
                                    {% else %}
                                        <div class="text-center" style="margin-right: 10px">{{ event_header.title }}</div>
                                        <div class="text-center" style="margin-right: 10px">{{ event_header.dateEvent | date('d/m') }}</div>
                                    {% endif %}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}



                    {% for src in btns %}
                        {% set url = 'build/maquette/images/' %}
                        {% set ext = '.png' %}
                        {% set src = url ~ src ~ ext %}
                        <li><img src="{{ asset(src) }}"></li>
                    {% endfor %}
                </ul>
            </nav>
            <!-- NAV BAR LG -->
            <nav class="d-none d-lg-flex block navbar-expand-lg col-12 mb-auto">
                <div class="row">
                    <ul class="navbar-nav w-100 justify-content-between nav-md-sm">
                        {% for name, url in menu %}
                            <li style="margin-left: 20px;margin-right: 20px"><strong><a class="text-decoration-none black title-nav-lg"  href="{{ path(url) }}">{{ name|upper }}</a></strong></li>
                            {% if loop.index0 < 4 %}
                                <img class="nav-separator" src="{{ asset('build/maquette/images/separator.png') }}">
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>


<!-- HEADER MD/SM -->

<div class="d-lg-none">
    <div class="row">
        <div class="col-6">
            <a href="{{ path('fo_home_index') }}">
                <img src="{{ asset('build/maquette/images/LOGO_ACTUEL.png') }}">
            </a>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-8 offset-3 pt-5">
                    {% for event_header in events_header %}
                        {% set media = event_header.getMedia(12) %}

                        {% if loop.index < 5 %}
                                <a class="text-decoration-none" href="/agenda/{{ event_header.category.id }}/{{ event_header.title }}">

                                    {% if media is not null %}
                                        {% set url = '/assets/images/' ~ media.media %}
                                        <img src="{{ asset((url)) }}" class="rounded-circle round-img-header" style="z-index:{{  loop.index }}" alt="...">
                                    {% else  %}
                                        <img src="{{ asset(('build/front/images/PLACEHOLDER_CARD_SQUARE.png')) }}" class="rounded-circle round-img-header" style="z-index:{{  loop.index }};{% if loop.index == 4 %}margin-right:10px{% endif %}" alt="...">
                                    {% endif %}
                                </a>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>0
        </div>
        <div class="col-12"></div>
        {% for src in btns %}
            <div class="col-4 text-center">
                {% set url = 'build/maquette/images/' %}
                {% set ext = '.png' %}
                {% set src = url ~ src ~ ext %}
                <img src="{{ asset(src) }}">
            </div>
        {% endfor %}
        <div class="col-4 text-center">
            <div class="dropdown">

                <button class="btn btn-move-up" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <img src="{{ asset('build/maquette/images/MENU_HEADER.png') }}">
                </button>

                <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-body">
                        <nav class="navbar navbar-dark py-0" style="color: black">
                            <ul class="navbar-nav w-100">
                                <!-- Catégorie du menu -->
                                <li class="nav-item border-y ps-3">
                                    <div class="round-left nav-link fs-1" href=""><a class="text-decoration-none" style="color: black" href="/home">> ACCUEIL</a></div>
                                    <div class="round-left nav-link fs-1" href=""><a class="text-decoration-none" style="color: black" href="/programmations">> PROGRAMMATION</a></div>
                                    {% for name, url in menu %}
                                        <div class="round-left nav-link fs-1" href=""><a class="text-decoration-none" style="color: black" href="{{ path(url) }}">> {{ name|upper }}</a></div>
                                    {% endfor %}
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

