<div class="px-lg-5 container-fluid">
    <div class="row">
        <div class="px-lg-5  px-md-5 pt-5 row">
            <!-- Titre de la catégorie Actu -->
            <div class="px-md-2 px-lg-0 col-lg-4 col-md-6 col-sm-6 fs-1 blue-title text-center text-lg-start mb-3 mb-lg-0" style="padding-bottom: 10px; padding-left: 30px !important">{% if title %}{{ title | upper }}{% else %}{{ page_title | upper }}{% endif %}</div>

            {% if filter == true %}
            <!-- Sélecteur de catégorie -->
            <div class="custom-select col-lg-2 col-md-6 col-sm-6 d-flex align-items-end " style="bottom: 17px">
                <div class="dropdown mx-auto">
                    <!-- Dropdown button / Sélecteur -->
                    <button class="text-center btn btn-secondary dropdown-toggle dropdown-toggle-select text-uppercase dropdown-select-button dropdown-select" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tous les évènements
                    </button>
                    <!-- Options du dropdown -->
                    <ul class="dropdown-menu">
                        <li class="dropdown-select-item-li dropdown-select-item text-uppercase w-100 fs-5">Tous les évènements</li>
                        {% for event in events %}
                            <li
                                    class="dropdown-select-item-li dropdown-select-item w-100 fs-5"
                                    data-id="{{ event.id }}"
                            >
                                {{ event.title | upper }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            {% if historic == true %}
            <!-- Bouton Historique -->
            <div class="col-12 col-lg-3  h1 text-center text-lg-start mb-4"> <a class="btn-read-card" href="{{ path('fo_agenda_historic')}}">HISTORIQUE  ></a></div>
            {% endif %}
        </div>
    </div>
</div>
