<div class="container-fluid d-none d-lg-block">
    <div class="d-flex justify-content-between align-items-center pt-5 px-lg-3" style="margin-top:20px">
        <div class="">
            <h1 class="blue-title text-center text-lg-start" style="">{% if title %}{{ title | upper | raw }}{% else %}{{ page_title | upper }}{% endif %}</h1>
        </div>
        <div class="" style="margin-bottom: 10px">
                {% if logo %}
                    <!-- Image Logo -->
                    <div class="text-lg-end text-center" style="min-width: 200px">
                        <img class="img-fluid" style="max-height: 150px;max-width:200px" src="{{ asset(getSiteImagePath(logo)) }}" alt="Logo">
                    </div>
                {% endif %}
        </div>
    </div>
</div>
<div class="container-fluid d-lg-none ">
    <div class="row align-items-center pt-5 px-lg-3" style="margin-top:20px; margin-bottom: 20px">
        <div class="col-12">
            <h1 class="blue-title text-center text-lg-start" style="">{% if title %}{{ title | upper }}{% else %}{{ page_title | upper }}{% endif %}</h1>
        </div>
        <div class="col-12" style="margin-bottom: 10px">
            <div class="row row-cols-1 row-cols-lg-auto align-items-center">
                {% if logo %}
                    <!-- Image Logo -->
                    <div class="col flex-grow-1 text-lg-end text-center">
                        <img class="img-fluid" style="max-height: 150px; max-width:200px" src="{{ asset(getSiteImagePath(logo)) }}" alt="Logo">
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>