<div class="container-fluid">
    <div class="row row-cols-auto px-lg-3" style="margin-top:20px">
        <div class="w-sm-100 col ">
            <p class="blue-title text-center text-lg-start h1" style="">{% if title %}{{ title | upper }}{% else %}{{ page_title | upper }}{% endif %}</p>
        </div>
        <div class="w-sm-100 col">
            <div class="row row-cols-1 row-cols-lg-auto align-items-center">
                {% if filter is defined and filter %}
                    <div class="col">
                        <div class="dropdown mb-3 d-grid gap-2">
                            <!-- Dropdown button / Sélecteur -->
                            <button type="button" class="text-center btn btn-secondary dropdown-toggle dropdown-toggle-select text-uppercase dropdown-select-button dropdown-select" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tous les évènements
                            </button>
                            <!-- Options du dropdown -->
                            <ul class="dropdown-menu">
                                {% if linkToSorted == true %}
                                <a class="text-decoration-none" href="{{ path('fo_actus_index', {'tri': 'Tous les évènements'}) }}">
                                    {% endif %}
                                    <li class="dropdown-select-item-li dropdown-select-item text-uppercase w-100 fs-5">Tous les évènements</li>
                                    {% if linkToSorted == true %}
                                </a>
                                {% endif %}
                                {% for event in events %}

                                    {% if linkToSorted == true %}
                                        <a class="text-decoration-none" href="{{ path('fo_actus_index', {'tri': event.id } ) }}">
                                    {% endif %}
                                    <li
                                            class="dropdown-select-item-li dropdown-select-item w-100 fs-5"
                                            data-id="{{ event.id }}"
                                    >
                                        {{ event.title | upper }}
                                    </li>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% if historic is defined and historic %}
                    <div class="w-sm-100 col text-center text-lg-start btn-group dropend mb-3">
                        <a type="button" class="btn-read-card btn btn-secondary dropdown-toggle text-uppercase" href="{{ path('fo_agenda_historic')}}">HISTORIQUE&nbsp;</a>
                    </div>
                {% endif %}
                {% if return is defined and return %}
                    <div class="w-sm-100 col text-center text-lg-start btn-group dropstart mb-3">
                        <a type="button" class="btn-read-card btn btn-secondary dropdown-toggle text-uppercase" href="{{ path('fo_agenda_historic')}}">Retour&nbsp;</a>
                    </div>
                {% endif %}
                {% if logo is defined and logo %}
                <!-- Image Logo -->
                    <div class="col flex-grow-1 text-lg-end text-center">
                        <img class="img-fluid" style="max-height: 150px" src="{{ asset(getSiteImagePath(logo)) }}" alt="Logo">
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
