{# DO THIS: the '!' symbol tells Symfony to extend from the original template #}
{% extends '@!EasyAdmin/crud/index.html.twig' %}

{# surcharge des actions #}
{% block global_actions %}
    {%  include('backoffice/actions/global_actions.html.twig') %}
{% endblock global_actions %}

{% block table_body %}
    {% for entity in entities %}

        {% if entity.isAccessible %}
            <tr data-id="{{ entity.primaryKeyValueAsString }}">
                {% if has_batch_actions %}
                    <td class="batch-actions-selector">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input form-batch-checkbox" value="{{ entity.primaryKeyValue }}">
                        </div>
                    </td>
                {% endif %}
                {% for field in entity.fields %}
                    <td data-label="{{ field.label|trans|e('html_attr') }}" class=" {{ field.property == sort_field_name ? 'sorted' }} text-{{ field.textAlign }} {{ field.cssClass }}" dir="{{ ea.i18n.textDirection }}">

                        {#  Titre #}
                        {% if field.property == 'title' %}
                            {% if entity.fields.getByProperty('children').formattedValue > 0 %}
                                <a
                                    href="{{
                                        ea_url()
                                        .unsetAll()
                                        .setController('App\\Controller\\Backoffice\\CategoryCrudController')
                                        .setAction('detail')
                                        .setEntityId(entity.primaryKeyValue)
                                    }}"
                                >
                                    {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
                                </a>
                            {% elseif entity.fields.getByProperty('articles').formattedValue > 0 %}
                                <a
                                    href="{{
                                        ea_url()
                                        .unsetAll()
                                        .setController('App\\Controller\\Backoffice\\ArticleCrudController')
                                        .setAction('index')
                                        .set('categoryId', entity.primaryKeyValueAsString)

                                    }}"
                                >
                                    {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
                                </a>
                            {% else %}
                                {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
                            {% endif %}

                        {# Pour property 'Nombre Enfants'#}
                        {% elseif field.property == 'children' %}
{#                            {% if field.value != null %}#}
{#                                <div>#}
{#                                    <a href="{{ url.setAction('detail').setEntityId(entity.primaryKeyValue) }}">#}
{#                                    </a>#}
{#                                </div>#}
{#                            {% else %}#}
{#                                {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}#}
{#                            {% endif %}#}
                            {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}

                        {# Pour property 'Parent ID' #}
                        {% elseif field.property == 'category_id' %}
                            {% if field.value != null %}
{#                                <a href="{{ category_url.setEntityId(field.value) }}">#}
{#                                    {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}#}
{#                                </a>#}
                            {% else %}
                                {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
                            {% endif %}

                        {# Pour property 'Parent' #}
                        {% elseif field.property == 'parent' %}
                            {% if field.value != null %}
{#                                <a href="{{ category_url.setEntityId(field.value.id) }}">#}
{#                                    {{ field.value.title }}#}
{#                                </a>#}
                            {% else %}
                                {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
                            {% endif %}

                        {#  Pour property 'Grand Parent' #}
                        {% elseif field.property == 'grandParent' %}
                            {% if field.value != null %}
                                {% if field.value.id != null %}
                                    <a href="{{ category_url.setEntityId(field.value.id) }}">
                                        {{ field.value.title }}
                                    </a>
                                {% else %}
                                    Aucun
                                {% endif %}
                            {% endif %}

                        {# Autres cas#}
                        {% else %}
                            {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
                        {% endif %}
                    </td>
                {% endfor %}

                {% block entity_actions %}
                    <td class="actions {{ ea.crud.showEntityActionsAsDropdown ? 'actions-as-dropdown' }}">
                        {% if entity.actions.count > 0 %}
                            {% if ea.crud.showEntityActionsAsDropdown %}
                                <div class="dropdown dropdown-actions">
                                    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {# don't use FontAwesome 'fa-ellipsis-h' icon here because it doesn't look good #}
                                        {# this icon is 'dots-horizontal' icon from https://heroicons.com/ #}
                                        <svg xmlns="http://www.w3.org/2000/svg" height="21" width="21" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
                                        </svg>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        {% for action in entity.actions %}
                                            {{ include(action.templatePath, { action: action, entity: entity, isIncludedInDropdown: ea.crud.showEntityActionsAsDropdown }, with_context = false) }}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                {% for action in entity.actions %}
                                    {{ include(action.templatePath, { action: action, entity: entity, isIncludedInDropdown: ea.crud.showEntityActionsAsDropdown }, with_context = false) }}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </td>
                {% endblock entity_actions %}
            </tr>
        {% else %}
            {% block table_body_empty %}
                {% for i in 1..14 %}
                    <tr class="empty-row">
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                    </tr>
                    {% if 3 == loop.index %}
                        <tr class="no-results">
                            <td colspan="100">
                                {{ t('datagrid.no_results', ea.i18n.translationParameters, 'EasyAdminBundle')|trans }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endblock table_body_empty %}
        {% endif %}
    {% endfor %}

{#    {% if categoriesChildsCount < 1 %}#}
{#        {% if catIndice %}#}
{#            {% if articlesCount > 0 %}#}
{#                <h4>Liste des articles</h4>#}
{#                <tr>#}
{#                    <td>#}
{#                        ID#}
{#                    </td>#}
{#                    <td>#}
{#                        Contenu#}
{#                    </td>#}
{#                    <td>#}
{#                        Titre#}
{#                    </td>#}
{#                    <td>#}
{#                        Position#}
{#                    </td>#}
{#                    <td>#}
{#                        Créé le#}
{#                    </td>#}
{#                    <td>#}
{#                        Modifié le#}
{#                    </td>#}
{#                </tr>#}
{#                {% for article in articles %}#}
{#                    <tr>#}
{#                        <td>#}
{#                            {{ article.id }}#}
{#                        </td>#}
{#                        <td>#}
{#                            <a href="{{ ea_url()#}
{#                                .setController('App\\Controller\\Backoffice\\ArticleCrudController')#}
{#                                .setAction('detail').setEntityId(article.id) }}">#}
{#                                {{ article.content }}#}
{#                            </a>#}
{#                        </td>#}
{#                        <td>#}
{#                            {{ article.title }}#}
{#                        </td>#}
{#                        <td>#}
{#                            {{ article.ordre }}#}
{#                        </td>#}
{#                        <td>#}
{#                            {{ article.createdAt|date|format_datetime(locale='fr') }}#}
{#                        </td>#}
{#                        <td>#}
{#                            {{ article.updatedAt|date|format_datetime(locale='fr') }}#}
{#                        </td>#}
{#                    </tr>#}


{#                {% endfor %}#}
{#            {% else %}#}
{#                <h4>Il n'y a pas encore d'articles ou de catégories dans cette catégorie</h4>#}
{#            {% endif %}#}
{#        {% endif %}#}
{#    {% endif %}#}

    {% if some_results_are_hidden %}
        <tr class="datagrid-row-empty">
            <td class="text-center" colspan="100">
                <span class="datagrid-row-empty-message"><i class="fa fa-lock mr-1"></i> {{ 'datagrid.hidden_results'|trans({}, 'EasyAdminBundle') }}</span>
            </td>
        </tr>
    {% endif %}
{% endblock table_body %}