{% block _Category_media_edit_widget %}
    {# Url d'upload #}
    {% set upload_url = ea_url()
        .unsetAll()
        .setController('App\\Controller\\Backoffice\\CategoryCrudController')
        .setAction('upload')
    %}
    <div
        class="entity-detail-media-card mb-3"
        data-form-id="{{ form.vars.name }}"
    >
        <div class="form-group mb-3">
            <div
                class="my-dropzone text-center dropzone "
                data-upload-url="{{ upload_url }}"
                data-upload-message="{{ 'upload.upload-message'|trans ~ ' ' ~ acceptedExtensions|join(', ') }}"
                data-accepted-file-types="{{ acceptedFileTypes|join(',') }}"
            >
            </div>
            <div
                class="my-cropper text-center"
                style="display: none;"
            >
                <img class="image-cropper img-fluid" src="#">
                <p class="mt-3">
                    <a
                        class="btn btn-delete-upload btn-danger"
                        href="#"
                        data-href="{{ ea_url()
                            .unsetAll()
                            .setController('App\\Controller\\Backoffice\\CategoryCrudController')
                            .setAction('deleteUpload')
                            .set('entityId', ea.entity.primaryKeyValue)
                            .generateUrl()
                        }}"
                    >
                        Supprimer
                    </a>
                    <a
                        class="btn btn-primary crop-action"
                        data-width="{{ form.vars.ea_crud_form.ea_field.customOptions.get('cropWidth') }}"
                        data-height="{{ form.vars.ea_crud_form.ea_field.customOptions.get('cropHeight') }}"
                    >
                        Recadrer
                    </a>
                    <a class="btn btn-success crop-valid" style="display: none">Valider</a>
                </p>
            </div>
            <label for="Media_legend" class="form-control-label">
                description
            </label>
            <div class="form-widget">
                <input type="text" name="legend-{{ form.vars.name }}" class="form-control">
            </div>
        </div>
        <input type="hidden" name="folderId-{{ form.vars.name }}" id="folderId-{{ form.vars.name }}" />
        <input type="hidden" name="filename-{{ form.vars.name }}" id="filename-{{ form.vars.name }}" />
        <input type="hidden" name="cropData-{{ form.vars.name }}" id="cropData-{{ form.vars.name }}" />
    </div>
{% endblock %}