{% extends 'frontoffice/_components/layout.html.twig' %}

{% block body %}
    <div class="p-5">
        <!-- ARTICLE -->
        <div class="p-5 h2">
            <!-- IMAGE ARTICLE -->
            <img src="{{ asset(('build/maquette/images/ACTIONCULTURELLE.png')) }}" class="w-100 mb-5 img-fluid" style="max-height: 600px; object-fit: cover" alt="ACTIONCULTURELLE">
            <div class="pt-4 position-relative">
                <img src="{{ asset(('build/maquette/images/actu_cadre_1.svg')) }}" class="position-absolute" style="max-height: 100px; top:0; left: 0 !important;" alt="ACTIONCULTURELLE">
                <div class="row pr-5 pt-5" style="padding-left: 80px">
                    <div class="col-lg-10 col-md-12">
                        <!-- Récupération des datas de l'article -->
                        {{ actu_test.getDatas(locale) }}
                        {% set category = actu_test.category %}
                        {{ category.getDatas(locale) }}
                        <!-- Titre -->
                        <div class="h3">{{ actu_test.title }}</div>
                    </div>
                    <div class="col-lg-2 col-md-12">
                        <!-- Thème -->
                        <div class="text-center h2 white text-uppercase" style="background-color: {{ category.themeBackColor }}; min-height: 50px;"><div class="p-1">{{ category.title }}</div></div>
                    </div>
                </div>
            </div>
            <div class="pr-5 py-5" style="padding-left: 80px">
                <!-- Sous-titre -->
                <div class="h4">{{ actu_test.subtitle }}</div>
                <div class="row position-relative">
                    <div class="col-md-12 col-lg-8 fs-5">
                        <!-- Contenu -->
                        {{ actu_test.content | raw }}

                        <img src="{{ asset(('build/maquette/images/actu_cadre_2.svg')) }}" class="position-absolute" style="height: 100px; bottom:0; left: 95%;" alt="ACTIONCULTURELLE">
                    </div>
                    <!-- Billetterie -->
                    <div class="col-lg-3 offset-lg-1 col-md-12">
                        <div class="py-5">
                            <p class="fs-1">
                                <b>{{ formatCustomDate(actu_test.dateEvent) }}

                                </b>
                            </p>
                            <p>{{ actu_test.datetimeEvent| date("H:i") }}</p>
                        </div>
                        <div class="row mb-5">
                            <div class="col-6 fs-4">
                                Tarif normal
                            </div>
                            <div class="col-6 fs-4">
                                Tarif abonné
                            </div>
                            <div class="col-3 h-100" style="padding-right: 0px; ">
                                <div class="border border-1 border-dark p-2 w-100" style="background-color: #e6e6e6">0 €</div>
                            </div>
                            <div class="col-3" style="padding-left: 0px">
                                <select class="w-100 p-1">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                            <div class="col-3" style="padding-right: 0px; ">
                                <div class="border border-1 border-dark p-2 w-100" style="background-color: #e6e6e6">0 €</div>
                            </div>
                            <div class="col-3" style="padding-left: 0px">
                                <select class="w-100 p-1">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </div>
                        <button class="border rounded-0 btn border-dark fs-2"><div class="p-1">AJOUTER AU PANIER</div></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% set counter = 0 %}
    {% for actu in actu_childs %}
        {% if actu.category.title|upper == "ACTION CULTURELLE" and actu.title|upper != actu_test.title|upper %}
            {% set counter = counter + 1 %}
        {% endif %}
    {% endfor %}

    {% if counter>1 %}
    <!-- Voir aussi -->

    <div class="bg-grey">
        <div class="p-5">
            {% dump(counter) %}
            <h1 class="pb-5">Voir aussi >> >> >></h1>
            <div class="row">

                {% for actu in actu_childs %}
                        {% if actu.category.title|upper == "ACTION CULTURELLE" and actu.title|upper != actu_test.title|upper %}

                            {% set media = actu.getMedia(2) %}
                            {% set CategoryTitle = actu.category.title|replace({' ': '-'})|lower %}

                            <div class="custom-col-xxl-3 col-lg-4 col-md-12 pb-lg-5 px-lg-3 category-{{ CategoryTitle }} category-tous-les-evenements">
                                <!-- Card-Actu -->
                                {% include 'frontoffice/_components/card.html.twig' with {'event': actu, 'agenda': false, 'showButton': true, 'actu': true, 'billetterie': true, 'soutiens': false } %}
                            </div>
                        {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}