{% extends 'frontoffice/_components/layout.html.twig' %}


{% block stylesheets %}
    <style>
        .container-big {
            padding: 80px;
        }


    </style>
{% endblock %}

{% block body %}
    {{ article.getDatas(locale) }}
    <!-- IMAGE DU HAUT -->
    <div class="row shadow-lg">
        <div class="col-lg-8 col-md-12 p-0" style="z-index: 500">
            {% set media = article.getMedia(9) %}
            {% if media is not null %}
                {% set url = '/assets/images/' ~ media.media %}
                <img src="{{ asset((url)) }}" class="card-img-top rounded-0" alt="...">
            {% endif %}




        </div>
        <!-- BILLETTERIE AU DESSUS DE L'IMAGE -->
        <div class="col-lg-4 col-md-12" style="z-index: 600">

            <div class="col-12">
                <div class="row text-center h3">
                    <div
                            class="col-3 theme-1"
                            style="background-color: {{ article.themeBackColor }};color: {{ article.themeTextColor }};"
                    >
                        CONCERT
                    </div>
                    <div class="col-9 text-uppercase white justify-content-start" style="background-color: black;min-height: 50px; display: flex; align-items: center; justify-content: center; font-weight: bold; font-size: 22px"><img class="" style="width: 30px; padding-right: 5px;" src="{{ asset(('build/maquette/images/MINI_BILLETTERIE.svg')) }}">POP FRANçAISE</div>
                </div>
            </div>
            <div class="card-container" >
                <!-- Titre -->
                <div class="lh-1">
                    <p class="big-title mb-0">{{ article.title }}</p>
                    <p class="big-subtitle mt-0">{{ article.subtitle }}</p>
                </div>

                <!-- Date -->
                <div style="padding-bottom: 20px; padding-top: 20px">
                    <p style="font-size: 40px; font-weight: bold" class="mb-0">
                        {{ article.dateEvent }}
                    </p>
                    <p style="font-size: 30px" class="mt-0">
                        {{ article.heureEvent }}
                    </p>
                </div>

                <!-- Tarifs -->


                <!-- Bouton ajout panier -->
                <div class="pt-2 pb-5">
                    <div class="row  h3">
                        <div class="col-6">
                            <p>Tarif normal</p>
                            <div class="row">
                                <div class="col-6" style="padding-right: 0px; ">
                                    <div class="border border-1 border-dark p-2 w-100" style="background-color: #e6e6e6">12 €</div>
                                </div>
                                <div class="col-6" style="padding-left: 0px">
                                    <select class="w-100 p-1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <p>Tarif abonné</p>
                            <div class="row">
                                <div class="col-6" style="padding-right: 0px;">
                                    <div class="border border-1 border-dark p-2 w-100" style="background-color: #e6e6e6">12 €</div>
                                </div>
                                <div class="col-6" style="padding-left: 0px">
                                    <select class="w-100 p-1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>

                    <button class="btn border border-3 rounded-0 border-dark fw-bold px-4">AJOUTER AU PANIER</button>
                </div>
                <!-- Cartes Lunes -->
                <div class="row">
                    <div class="col-6">
                        <img class="" style="max-width: 150px" src="{{ asset('build/maquette/images/LUNE_ABONNE.svg') }}">
                        <p class="h3">
                            Profitez du tarif abonné<br>
                            <b>
                                avec la carte lune
                            </b>
                        </p>
                    </div>
                    <div class="col-6">
                        <img style="max-width: 150px" src="{{ asset('build/maquette/images/LUNE_PASS_CULTURE.svg') }}">
                        <p class="h3">
                            Tu as entre 15 et 18 ans ?<br>
                            <b>
                                Dispo sur le Pass Culture
                            </b>
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="p-5">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <!-- NOM GROUPE / STYLE / HORAIRE -->
                <div class="row py-5 align-items-end">
                    <div class="col-lg-6 col-md-12">
                        <h1 class="big-title">{{ article.title }}</h1>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <h1>{{ article.typeMusic}}  {% if article.origin != "" %} | {{ article.origin }}{% endif %}</h1>
                    </div>
                    <div class="col-lg-2 col-md-6 d-flex justify-content-end">
                        <h1 style="font-size: 60px">{{ article.heureEvent }}</h1>
                    </div>
                </div>

                <!-- RESUME ARTISTE -->
                <div class="h2 py-3 lh-lg">
                    {{ article.description | raw }}
                </div>

                <!-- IMAGE ARTISTE -->
                {% set media2 = article.getMedia(10) %}
                {% set media3 = article.getMedia(1) %}
                {% if media2 is not null %}
                    {% set url = '/assets/images/' ~ media2.media  %}
                    <img src="{{ asset((url)) }}" class="card-img-top rounded-0" alt="...">
                {% elseif media3 is not null %}
                    {% set url = '/assets/images/' ~ media3.media  %}
                    <img src="{{ asset((url)) }}" class="card-img-top rounded-0" alt="...">
                {% endif %}




                <!-- DESCRIPTION ARTISTE -->
                <div class="h3 py-5 lh-lg">
                    {{ article.content | raw }}
                </div>

                <!-- VIDEO ARTISTE -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item w-100" style="height: 860px;" src="{{ article.youtubeLink }}" allowfullscreen></iframe>
                </div>

                <!-- PLUS D'INFOS SUR L'ARTISTE -->
                <div class="row py-5">
                    <div class="col-lg-6 offset-lg-6 col-md-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 d-flex align-items-end">
                                {% if article.instagramLink != '' or article.twitterLink != '' or article.facebookLink != '' or article.siteInternet != ''  %}
                                    <h2>Plus d'infos sur l'artiste</h2>
                                {% endif %}
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <!-- MEDIAS SOCIAUX -->
                                <div class="row">
                                    {% if article.instagramLink != '' %}
                                        <div class="col-3">
                                            <a href="{{ article.instagramLink }}"><img src="{{ asset('build/maquette/images/INSTA_PROGRAMMATION.svg') }}"></a>
                                        </div>
                                    {% endif %}
                                    {% if article.twitterLink != '' %}
                                        <div class="col-3">
                                            <a href="{{ article.twitterLink }}"><img src="{{ asset('build/maquette/images/TWITTER_PROGRAMMATION.svg') }}"></a>
                                        </div>
                                    {% endif %}
                                    {% if article.facebookLink != '' %}
                                        <div class="col-3">
                                            <a href="{{ article.facebookLink }}"><img src="{{ asset('build/maquette/images/FACEBOOK_PROGRAMMATION.svg') }}"></a>
                                        </div>
                                    {% endif %}
                                    {% if article.siteInternet != '' %}
                                        <div class="col-3">
                                            <a href="{{ article.siteInternet }}"><img src="{{ asset('build/maquette/images/INTERNET_PROGRAMMATION.svg') }}"></a>
                                        </div>
                                    {% endif %}

                                </div>

                            </div>
                        </div>


                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-12 d-flex align-content-end justify-content-center flex-wrap text-md-center text-lg-start">

                <div class="p-5">
                    <!-- CARTE LUNE -->
                    <div class="py-5">
                        <img src="{{ asset('build/maquette/images/CARTE_LUNE_BAS.svg') }}">
                        <p class="h3">
                            Concerts Gratuits Abonnés & Réductions
                        </p>
                        <p class="h3">
                            <b> Abonnez-vous !</b>
                        </p>
                    </div>
                    <div class="py-5 h3">
                        <p>
                            Tu as entre 15 et 18ans ?
                        </p>
                        <p>
                            <b>Dispo sur le Pass Culture</b>
                        </p>

                        <img src="{{ asset('build/maquette/images/PASS_CULTURE_BIG.svg') }}">
                    </div>
                    <div class="py-5">

                        <img src="{{ asset('build/maquette/images/INFOS_PRATIQUES.svg') }}">
                    </div>



                </div>

            </div>






        </div>




    </div>


    <!-- CITRON SUCRE -->
    {% for child in children %}
        {{ child.getDatas(locale) }}

    {{ citron.getDatas(locale) }}

    <div class="bg-grey">
        <div class="p-5">
            <div class="row">

                <div class="col-lg-8 col-md-12">

                    <!-- NOM GROUPE / STYLE / HORAIRE -->
                    <div class="row py-5 align-items-end">
                        <div class="col-lg-6 col-md-12">
                            <h1 class="big-title">{{ child.title }}</h1>
                        </div>
                        <div class="col-lg-4 col-md-8"  >
                            <h1>{{ child.typeMusic}} {% if child.origin != "" %} | {{ child.origin }}{% endif %}</h1>
                        </div>
                        <div class="col-lg-2 col-md-4 d-flex justify-content-end">
                            <h1 style="font-size: 60px">{{ child.heureEvent }}</h1>
                        </div>
                    </div>

                    <!-- DESCRIPTION ARTISTE -->
                    <div class="h2 lh-lg">
                        {{ child.description | raw }}
                    </div>


                    <!-- Image Artiste -->
                    {% set media3 = child.getMedia(1) %}
                    {% if media3 is not null %}
                        {% set url = '/assets/images/' ~ media3.media  %}
                        <img src="{{ asset((url)) }}" class="card-img-top rounded-0" alt="...">
                    {% endif %}

                    <!-- CONTENT ARTISTE -->

                    <div class="h2 lh-lg">
                        {{ child.content | raw }}
                    </div>
                    <!-- VIDEO ARTISTE -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item w-100" style="height: 860px" src="{{ child.youtubeLink }}" allowfullscreen></iframe>
                    </div>

                    <!-- PLUS D'INFOS SUR L'ARTISTE -->
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6 col-md-12 py-5">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 d-flex align-items-end">
                                    <h2>Plus d'infos sur l'artiste</h2>

                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <!-- MEDIAS SOCIAUX -->
                                    <div class="row">
                                        {% if child.instagramLink != '' %}
                                            <div class="col-3">
                                                <a href="{{ child.instagramLink }}"><img src="{{ asset('build/maquette/images/INSTA_PROGRAMMATION.svg') }}"></a>
                                            </div>
                                        {% endif %}
                                        {% if child.twitterLink != '' %}
                                            <div class="col-3">
                                                <a href="{{ child.twitterLink }}"><img src="{{ asset('build/maquette/images/TWITTER_PROGRAMMATION.svg') }}"></a>
                                            </div>
                                        {% endif %}
                                        {% if child.facebookLink != '' %}
                                            <div class="col-3">
                                                <a href="{{ child.facebookLink }}"><img src="{{ asset('build/maquette/images/FACEBOOK_PROGRAMMATION.svg') }}"></a>
                                            </div>
                                        {% endif %}
                                        {% if child.siteInternet != '' %}
                                            <div class="col-3">
                                                <a href="{{ child.siteInternet }}"><img src="{{ asset('build/maquette/images/INTERNET_PROGRAMMATION.svg') }}"></a>
                                            </div>
                                        {% endif %}

                                    </div>

                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-12 d-flex align-content-end justify-content-center text-md-center text-lg-start flex-wrap">

                    <div class="p-5">
                        <div class="py-5" style="width: 500px">

                            <img src="{{ asset('build/maquette/images/INFOS_PRATIQUES.svg') }}">
                        </div>



                    </div>

                </div>


            </div>
        </div>

    </div>
    {% endfor %}
    <!-- A DECOUVRIR -->

    <div class="card-container">
        <h1 class="pb-5">
            à découvrir >> >> >>
        </h1>

        <div class="row">
            {% for event in events_agenda %}

                {% if loop.index0 < 3 %}




                    <div class="col-lg-4 col-md-12 px-0">
                        <!-- Card-Actu -->
                        <div class="card mb-3 mx-4 shadow-lg rounded-0 h-100 ">

                            {% if loop.index0 == 0 %}
                                <img src="{{ asset(('build/maquette/images/GWENDOLINE.png')) }}" class="card-img-top rounded-0" alt="...">
                            {% elseif loop.index0 == 1 %}
                                <img src="{{ asset(('build/maquette/images/MALN.png')) }}" class="card-img-top rounded-0" alt="...">
                            {% elseif loop.index0 == 2 %}
                                <img src="{{ asset(('build/maquette/images/SILLYBOYBLUE.png')) }}" class="card-img-top rounded-0" alt="...">
                            {% endif %}
                            <div class=" pt-0">
                                <!-- Themes -->
                                <div class="row mx-0 px-0">
                                    {% if loop.index0 == 0  %}
                                        <div class="col-3 white"  style="background-color: #fa5faa; min-height: 50px; display: flex; align-items: center; justify-content: center; font-weight: bold; font-size: 22px">
                                            CONCERT
                                        </div>
                                        <div class="col-9 white justify-content-start"  style="background-color: black; min-height: 50px; display: flex; align-items: center; justify-content: center; font-weight: bold; font-size: 22px">
                                            <img class="" style="width: 30px; padding-right: 5px;" src="{{ asset(('build/maquette/images/MINI_BILLETTERIE.svg')) }}">SHLAG WAVE SOMBRE | INDIE POST-PUNK
                                        </div>

                                    {% elseif loop.index0 == 1  %}
                                        <div class="col-3"  style="background-color: #2b0972; min-height: 50px; display: flex; align-items: center; justify-content: center; font-weight: bold; font-size: 22px; color: #fa5faa">
                                            FESTIVAL
                                        </div>
                                        <div class="col-9 white justify-content-start"  style="background-color: black; min-height: 50px; display: flex; align-items: center; justify-content: center; font-weight: bold; font-size: 22px">
                                            <img class="" style="width: 30px; padding-right: 5px;" src="{{ asset(('build/maquette/images/MINI_BILLETTERIE.svg')) }}">MINUIT AVANT LA NUIT #4
                                        </div>

                                    {% elseif loop.index0 == 2  %}
                                        <div class="col-3 white"  style="background-color: #fa5faa; min-height: 50px; display: flex; align-items: center; justify-content: center; font-weight: bold; font-size: 22px">
                                            CONCERT
                                        </div>
                                        <div class="col-9 white justify-content-start"  style="background-color: black; min-height: 50px; display: flex; align-items: center; justify-content: center; font-weight: bold; font-size: 22px">
                                            <img class="" style="width: 30px; padding-right: 5px;" src="{{ asset(('build/maquette/images/MINI_BILLETTERIE.svg')) }}">POP
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="container">
                                    <!-- ARTISTE -->

                                    <h5 class="card-title my-3" style="font-size: 34px; font-weight: bold">{{ event.title }}</h5>

                                    <!-- seconde partie -->
                                    <p class="card-text">

                                    </p>


                                    <div class="row">
                                        <!-- DATE CONCERT ET HEURE -->
                                        <div class="col-9 d-flex align-content-end">

                                            {% if loop.index0 == 0 %}
                                                <div class="d-flex align-items-end" style="min-height: 200px">
                                                    <div>
                                                        <p style="font-size: 29px;font-weight: bold">MER. 17 MAI 2023</p>
                                                        <div class="d-inline-flex ">

                                                            <p style="font-size: 31px;font-weight: bold">20:30</p>
                                                            <a href="https://billetterie.lalune.net/">
                                                                <img src="{{ asset(('build/maquette/images/BILLETTERIE.png')) }}" class="card-img-top rounded-0" alt="...">
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>

                                            {% elseif loop.index0 == 1 %}

                                                <div class="d-flex align-items-end" style="min-height: 200px">
                                                    <div>
                                                        <div class="d-inline-flex ">

                                                            <p style="font-size: 29px;font-weight: bold">DU JEU. 08 AU DIM. 11 JUIN</p>
                                                            <a href="https://billetterie.lalune.net/">
                                                                <img src="{{ asset(('build/maquette/images/BILLETTERIE.png')) }}" class="card-img-top rounded-0" alt="...">
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>

                                            {% elseif loop.index0 == 2 %}

                                                <div class="d-flex align-items-end" style="min-height: 200px">
                                                    <div>
                                                        <p style="font-size: 29px;font-weight: bold">MER. 11 OCT.</p>
                                                        <div class="d-inline-flex ">

                                                            <p style="font-size: 31px;font-weight: bold">20:30</p>
                                                            <a href="https://billetterie.lalune.net/">
                                                                <img src="{{ asset(('build/maquette/images/BILLETTERIE.png')) }}" class="card-img-top rounded-0" alt="...">
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>

                                            {% endif %}
                                        </div>

                                        <!-- Potentiel lien Billetterie -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>




{% endblock %}