{% extends 'frontoffice/_components/layout.html.twig' %}
{% block body %}

    <!-- IMAGE DU HAUT -->
    <div class="container-fluid px-0 shadow-lg mt-5" >
        <div class="row gx-0">
            <div class="col-12 col-lg-8 p-0 " style="">
                {% if article.cancelled %}
                    <div class="cancelled-overlay">
                        <p class="cancelled-text">ANNULÉ</p>
                    </div>
                {% elseif article.reported %}
                    <div class="cancelled-overlay">
                        <p class="cancelled-text">REPORTÉ</p>
                    </div>
                {% elseif article.full %}
                    <div class="full-overlay">
                        <p class="cancelled-text">COMPLET</p>
                    </div>
                {% endif %}
                {% set media = article.getMedia(18) %}
                {% set category = article.category %}
                {% do category.getDatas(locale) %}
                {% if media is not null %}
                    <img src="{{ url('ressources_image', {'width':'src','height':'src', 'media':media.media} ) }}" class="rounded-0 w-100 img-fluid"   alt="...">
                {% else %}
                    {% set mediaCategoryAgenda = category_agenda.getMedia(25) %}
                    {% if mediaCategoryAgenda is not null %}
                        <img src="{{ url('ressources_image', {'width':'src','height':'src', 'media':mediaCategoryAgenda.media} ) }}" class="d-block w-100" alt="...">
                    {% endif %}
                {% endif %}
            </div>
            <!-- BILLETTERIE AU DESSUS DE L'IMAGE -->
            <div class="col-12 col-lg-4" style="z-index: 600; border-left: #C8C8C8 solid 1px" >
                    <table class="table align-middle mb-0">
                        <tr class=" text-uppercase align-items-center">
                            <td
                                    class="py-3"
                                    style="background-color:{{ article.category.themeBackColor }};color: {{ article.themeTextColor }};"
                            >
                                {{ category.title | upper }}
                            </td>
                            <td class="py-3 flex-grow-1 text-white" style="background-color: black;"><img class="pe-1" style="width: 1.2rem;" src="{{ asset(getSiteImagePath('MINI_BILLETTERIE.svg')) }}"> {{ article.style }}</td>
                        </tr>
                    </table>
                <div class="">
                    <!-- Titre -->
                    <div class="p-4">
                        <h1 class="fw-bold mb-0">{% if article.eventName is not empty %}{{ article.eventName }} :{% endif%} {{ article.titleByLanguage }}</h1>
                        <h2 class="">{{ article.subtitle }}</h2>
                        <hr>
                        <p class="h3 fw-bold mt-4">{{ formatCustomDate(article.dateEvent) }}</p>
                        {% if article.datetimeEventOpening is not empty and article.datetimeEventOpening is not null %}
                            <p class="ms-1 fs-5"><i class="fa-solid fa-clock"></i><span class="ms-2">{{ article.datetimeEventOpening | date("H:i") }}</span></p>
                        {% endif %}
                        <!-- EVENT TERMINE -->
                        {% if article.dateEvent <  current_date %}
                            <p class="text-bg-danger p-2 text-center fs-4">Cet évènement est terminé.</p>
                        {% else %}
                            <!-- EVENT ANNULÉ -->
                          {% if article.cancelled %}
                                <div>
                                    <p class="text-bg-danger p-2 text-center fs-4">Cet évènement est annulé.</p>
                                    {% if article.refund %}
                                        <div class="d-grid">
                                            <a class="btn btn-read-card " href="{{ article.refund }}">Lien de remboursement</a>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <!-- EVENT REPORTE -->
                          {% if article.reported %}
                                    <div>
                                    <p class="text-bg-danger p-2 text-center fs-4">Cet évènement est reporté.</p>
                                    {% if article.cancelledOrReportedDescription %}
                                        <div class="tfs-4">
                                            {{ article.cancelledOrReportedDescription }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <!-- EVENT COMPLET -->
                            {% if article.full %}
                            <div>
                                <p class="text-bg-danger p-3 text-center fs-2">Cet évènement est complet.</p>
                            </div>
                            {% endif %}
                        {% endif %}

                        <!-- Tarifs -->
                        {% if article.dateEvent >  current_date %}
                            {% if article.price %}
                            <div class="row mt-3 row-cols-md-{{ article.nbTarifs }}">
                                <div class="col-12">
                                    <div class="btn-rate-card mb-3"> <a class="" href="{{ article.ticketingLink }}">Tarif plein : {{ article.price }}</a></div>
                                </div>
                                {% if article.subscriberPrice %}
                                    <div class="col-12">
                                        <div class="btn-rate-card mb-3"> <a class="" href="{{ article.ticketingLink }}">Tarif plein : {{ article.subscriberPrice }}</a></div>
                                    </div>
                                {% endif %}
                                {%  if article.reducedPrice %}
                                    <div class="col-12">
                                        <div class="btn-rate-card mb-3"> <a class="" href="{{ article.ticketingLink }}">Tarif plein : {{ article.reducedPrice }}</a></div>
                                    </div>
                                {% endif %}
                            </div>
                            {% endif %}
                        {% endif %}

                        <!-- Cartes Lunes -->
                        <div class="row gx-0 pt-5">
                            <div class="col text-center">
                                <a class="text-decoration-none" href="https://billetterie.lalune.net/abonnements/166f6eac2a539b/renouvellement">
                                    <img style="max-height: 50px" src="{{ asset(getSiteImagePath('abonnement.svg')) }}">
                                    <div style="font-size: 14px">
                                        Profitez du tarif abonné<br>
                                        <b>avec la carte lune</b>
                                    </div>
                                </a>
                            </div>
                            <!-- Lien pass culture -->
                            {% if article.culturePassLink %}
                            <div class="col text-center">
                                <a class="text-decoration-none" href="{{ article.culturePassLink }}">
                                    <img style="max-height: 50px" src="{{ asset(getSiteImagePath('LUNE_PASS_CULTURE.svg')) }}">
                                    <div style="font-size: 14px">
                                        <b>Dispo sur le Pass Culture,</b><br>
                                        pour les 15-18 ans,<br>
                                        ou en offre collective
                                    </div>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        <hr>
                        <div class="mt-4">
                            <!-- Lien facebook-->
                            {% if article.facebookEventLuneLink is not empty and article.facebookEventLuneLink is not null %}
                                <p class="fs-5"><i class="fa-brands fa-facebook"></i><a class="ms-2 lien-souligne" href="{{ article.facebookEventLuneLink }}" >Voir l'évènement</a></p>
                            {% endif %}
                            <!-- Organisteur-->
                            {% if article.organizer is not empty and article.organizer is not null %}
                                <p class="fs-5"><i class="fa-solid fa-circle-user"></i><span class="ms-2">Organisateur : {{ article.organizer }}</span></p>
                            {% endif %}
                            <!-- Placement-->
                            {% if article.placement is not empty and article.placement is not null %}
                                <p class="fs-5"><i class="fa-solid fa-users"></i><span class="ms-2">{{ article.placement }}</span></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- DETAIL ARTICLE -->
    <div class="container-fluid shadow-lg">
        <div class="py-4 row">
            <!-- CONTENU PARTIE GAUCHE-->
            <div class="col-lg-8 col-md-12 px-5">
                <!-- NOM GROUPE / STYLE / HORAIRE -->
                <div class="row d-flex justify-content-between pb-3">
                    <div class="col-lg-auto col-md-12">
                        <div class="fs-1 lh-1">{{ article.titleByLanguage }}</div>
                    </div>
                    <div class="col-lg-auto col-md-12">
                        <div class="fs-1 lh-1 d-flex align-items-center">{{ article.typeMusic}}  {% if article.origin != "" %} | {{ article.origin }}{% endif %}</div>
                    </div>
                    <div class="col-lg-auto col-md-12">
                        {% if article.datetimeEvent is not null and article.datetimeEvent  is not empty %}
                            <div class="fs-1 lh-1">{{ article.datetimeEvent| date('H:i') }}</div>
                        {% endif %}
                    </div>
                </div>
                <!-- CONTENU ARTISTE -->
                <div class="fs-5" style="line-height: 1.3">
                    {{ article.content | raw }}
                </div>
                <!-- VIDEO ARTISTE -->
                {% if article.youtubeLink %}
                    <div class="pt-3">
                        <div class="video-container">
                            <iframe src="{{ article.youtubeLink }}" allowfullscreen></iframe>
                        </div>
                    </div>
                {% endif %}
                {# Artiste infos #}
                {{ include(fo_path ~ 'agenda/artiste_infos.html.twig') }}
            </div>

            <!-- LIENS ET INFOS PRATIQUES (PARTIE DROITE) -->
            <div class="col-lg-4 col-md-12 px-5">
                <div class="p-4 d-none d-lg-block text-center">
                    <!-- CARTE LUNE -->
                    <div class="py-3">
                        <a rel="nofollow" href="https://billetterie.lalune.net/abonnements/166f6eac2a539b/renouvellement">
                            <img style="max-width: 313px" src="{{ asset(getSiteImagePath('abonnement.svg')) }}">
                        </a>
                        <div class="fs-5">
                            Profitez du tarif abonné
                        </div>
                        <div class="fs-5 fw-bold">
                            avec la carte lune
                        </div>
                    </div>
                    <div class="py-5">
                        <a class="text-decoration-none" href="{{ path('fo_infos_index') }}">
                            <img style="max-height: 150px" src="{{ asset(getSiteImagePath('infos.png')) }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- DEUXIEME PARTIE -->
    {% for child in children %}
        {% do child.getDatas(locale) %}
    <div class="container-fluid shadow-lg">
        <div class="py-4 px-lg-5">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <!-- NOM GROUPE / STYLE / HORAIRE -->
                    <div class="row d-flex justify-content-between pb-3">
                        <div class="col-lg-auto col-md-12">
                            <div class="fs-1 lh-1">{{ child.titleByLanguage }}</div>
                        </div>
                        <div class="col-lg-auto col-md-12"  >
                            <div class="fs-1 lh-1  d-flex align-items-center">{{ child.typeMusic}}  {% if child.origin != "" %} | {{ child.origin }}{% endif %}</div>
                        </div>
                        <div class="col-lg-auto col-md-12">
                            <div class="fs-1 lh-1 ">{{ child.datetimeEvent | date('H:i') }}</div>
                        </div>
                    </div>
                    <!-- CONTENU ARTISTE -->
                    <div class="fs-5">
                        {{ child.description | raw }}
                    </div>
                    <!-- Image Artiste Ou vidéos artistes-->
                    {% set media3 = child.getMedia(33) %}
                    <div class="pt-3">

                        {% if child.youtubeLink is not empty and child.youtubeLink is not null %}
                            <div class="embed-responsive embed-responsive-16by9">
                                <div class="video-container">
                                    <iframe src="{{ child.youtubeLink }}" allowfullscreen></iframe>
                                </div>
                            </div>
                        {% endif %}
                        {% if child.youtubeSecondLink is not empty and child.youtubeSecondLink is not null %}
                            <div class="embed-responsive embed-responsive-16by9">
                                <div class="video-container">
                                    <iframe src="{{ child.youtubeLink }}" allowfullscreen></iframe>
                                </div>                            </div>
                        {% endif %}
                        {% if media3 is not null and child.youtubeSecondLink is empty  and child.youtubeLink is empty %}
                            {% set url = '/assets/images/' ~ media3.media  %}
                            <img src="{{ asset((url)) }}" class="card-img-top rounded-0" alt="...">
                        {% endif %}
                    </div>
                    <!-- CONTENT ARTISTE -->
                    <div class="fs-5 py-3">
                        {{ child.content | raw }}
                    </div>
                    {# Artiste infos #}
                    {% include fo_path ~ 'agenda/artiste_infos.html.twig'  with {'article' : child} %}
                </div>
                <!-- LIENS ET INFOS PRATIQUES (PARTIE DROITE) -->
                <div class="col-lg-4 col-md-12">
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- A DECOUVRIR -->
    <hr class="my-0">
    <div class="p-lg-5 container-fluid">
        <h1 class="pb-lg-3 pt-3 pt-lg-0">
            à découvrir >> >> >>
        </h1>
        <div class="row">

            {#Compteur pour afficher le nombre souhaité dans la vue #}
            {% set count = 0 %}
            {% for event in events_agenda %}
                {% if getDatetimeEvent(event.dateEvent, event.datetimeEvent) > current_date and count < 4 %}
                    {% if article.id != event.id %}
                        {% set media = event.getMedia(1) %}
                        {% set CategoryTitle = event.category.title|replace({' ': '-'})|lower %}
                        <div class="custom-col-xxl-3 col-lg-4 col-md-12 py-3 pb-lg-5 px-lg-3 category-{{ CategoryTitle }} category-tous-les-evenements {% if count == 3 %}d-none show-xxl{% endif %}">
                            <!-- Card-Actu -->
                            {% include 'frontoffice/_components/card.html.twig' with {'event': event, 'agenda': true, 'showButton': false, 'actu': false, 'billetterie': true, 'soutiens': false, 'actions' : false } %}
                        </div>
                        {% set count = count + 1 %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}