{% extends 'frontoffice/_components/layout.html.twig' %}


{% block body %}
    <div class="wrapper">
        {% include 'frontoffice/_components/title.html.twig' with {'events': null, 'filter': false, 'historic': false, 'title': null, linkToSorted: false, logo : null } %}
        {% do  article.getDatas(locale) %}
        <!-- Container de la page -->

        <div class="container-fluid">
            <div class="row gx-0">

                <!-- Col avec les infos Desctiption / Contenu / Réseaux sociaux ... -->
                <div class="col-lg-7 col-md-12">

                    <!-- Image de l'article sur mobile -->
                    <div class="d-block d-lg-none">
                        {% set media = article.getMedia(4) %}
                        {% if media is not null %}
                            <img src="{{ url('ressources_image', {'width':'src','height':'src', 'media':media.media} ) }}" alt="{{ media.media}}" class="w-100 img-fluid">
                        {% endif %}
                    </div>

                    <!-- Titre / Description / Contenu -->
                    <div>
                        <h1 class="text-center mb-2">{{ article.titleByLanguage }}</h1>
                        <h3 class="text-center mb-3">{% if article.typeMusic is not empty and article.typeMusic is not null %}{{ article.typeMusic }} {% endif %}{% if article.origin is not empty and article.origin is not null %}- {{ article.origin }}{% endif %}</h3>
                    </div>
                    <div class="container-fluid">
                        <div class="row text-center">
                        {% if article.instagramLink != '' %}
                            <div class="col">
                                <a href="{{ article.instagramLink }}"><img class="mh-45"  src="{{ asset(getSiteImagePath('artiste-insta.svg')) }}"></a>
                            </div>
                        {% endif %}
                        {% if article.twitterLink != '' %}
                            <div class="col">
                                <a href="{{ article.twitterLink }}"><img class="mh-45" src="{{ asset(getSiteImagePath('artiste-tw.svg')) }}"></a>
                            </div>
                        {% endif %}
                        {% if article.facebookLink != '' %}
                            <div class="col">
                                <a href="{{ article.facebookLink }}"><img class="mh-45" src="{{ asset(getSiteImagePath('artiste-fb.svg')) }}"></a>
                            </div>
                        {% endif %}
                        {% if article.siteInternet != '' %}
                            <div class="col">
                                <a href="{{ article.siteInternet }}"><img class="mh-45" src="{{ asset(getSiteImagePath('artiste-web.svg')) }}"></a>
                            </div>
                        {% endif %}
                    </div>
                    </div>
                    <div class="fs-5 mt-4">{{ article.description | raw }}</div>
                    <div class="mt-5">
                        <div class="fs-5">{{ article.content | raw }}</div>
                    </div>

                    <!-- FICHIERS PDF -->
                    <div>
                        {% if not article.getFiles is empty %}
                            <div class="mt-5">
                                {% set filesArray = article.getFiles() %}
                                {% set arrayLength = filesArray|length %}
                                {% if arrayLength > 1 %}
                                    <h4 class="mb-5">Fichiers liés à l'article : </h4>
                                {% elseif arrayLength == 1 %}
                                    <h4 class="mb-5">Fichier lié à l'article : </h4>
                                {% endif %}
                                {% for file in article.getFiles() %}
                                    {% set url_file = '/assets/images/' ~ file.media %}
                                        <a class="btn-files fs-5" href="{{ url_file }}" role="button">{{ file.legend }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Col avec les images / vidéos / sons -->
                <div class="col-lg-4 offset-lg-1 col-md-12 p-lg-3">

                    <!-- Image de l'article -->
                    <div class="d-none d-lg-block">
                        {% set media = article.getMedia(4) %}
                        {% if media is not null %}
                            <img src="{{ url('ressources_image', {'width':'src','height':'src', 'media':media.media} ) }}" alt="{{ media.media}}" class="w-100 img-fluid">
                        {% endif %}
                    </div>
                    {% if article.youtubeLink is not null and article.youtubeLink is not empty  %}
                        <!-- Vidéos de l'article -->
                        <div class="mt-4">
                            <div class="video-container">
                                <iframe src="{{ article.youtubeLink }}" allowfullscreen></iframe>
                            </div>
                        </div>
                    {% endif %}
                    {% if article.youtubeLink is not null and article.youtubeLink is not empty  %}
                        <div class="mt-4">
                            <div class="embed-responsive embed-responsive-16by9">
                                <div class="video-container">
                                    <iframe src="{{ article.youtubeSecondLink }}" allowfullscreen></iframe>
    {#                                <div class="youtube_player" videoID="{{ article.youtubeSecondLink|replace({'https://www.youtube.com/embed/': ''}) }}"></div>#}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <!-- Sons SoundCloud de l'article -->
                    <div class="mt-4">
                        <div class="sound-container">
                        {% if article.soundcloudLink is not null and article.soundcloudLink is not empty %}
                            {{ getTacLink('soundcloud', article.soundcloudLink) | raw }}
                        {% endif %}
                        </div>

                        <div class="sound-container">
                        {% if article.soundcloudSecondLink is not null and article.soundcloudSecondLink is not empty %}
                            {{ getTacLink('soundcloud', article.soundcloudSecondLink) | raw }}
                        {% endif %}
                        </div>

                        <div class="sound-container">
                        {% if article.soundcloudThirdLink is not null and article.soundcloudThirdLink is not empty %}
                            {{ getTacLink('soundcloud', article.soundcloudThirdLink) | raw }}
                        {% endif %}
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}