{% extends 'frontoffice/_components/layout.html.twig' %}


{% block body %}

    {{  article.getDatas(locale) }}
    <div class="p-5">
        <h1 class="text-center mb-5 ">{{ article.title }} {% if article.typeMusic is not empty and article.typeMusic is not null %}- {{ article.typeMusic }} {% endif %}{% if article.origin is not empty and article.origin is not null %}- {{ article.origin }}{% endif %}</h1>



        <div class="row p-5">

            <div class="col-lg-6 col-md-12">
                <div class="fs-3">{{ article.description | raw }}</div>


            </div>
            <div class="col-lg-6 col-md-12">
                {% set media = article.getMedia(4) %}
                {% if media is not null %}
                    {% set url = '/assets/images/' ~ media.media %}
                    <img src="{{ url }}" alt="{{ media.media}}" class="w-100 img-fluid">
                {% endif %}

            </div>
            <div class="col-12 py-5">
                <div class="fs-3">{{ article.content | raw }}</div>


            </div>
            <div class="col-9">

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item w-100" style="height: 860px" src="{{ article.youtubeLink }}" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-3">

                <div>
                    Retrouvez {{ article.title }} sur les réseaux sociaux :

                    <a class="text-decoration-none black" href="{{ article.facebookLink }}">Facebook - </a><a class="text-decoration-none black" href="{{ article.instagramLink }}">Instagram - </a><a class="text-decoration-none black" href="{{ article.twitterLink }}">Twitter</a>
                </div>
                <div>
                    Partager cette article :

                    <a class="text-decoration-none black" href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}" target="_blank" rel="noopener noreferrer">
                        Partager sur Facebook
                    </a>
                    <a class="text-decoration-none black" href="https://twitter.com/intent/tweet?url={{ app.request.uri }}" target="_blank" rel="noopener noreferrer">
                        Partager sur Twitter
                    </a>
                    <a class="text-decoration-none black" href="https://api.whatsapp.com/send?text={{ app.request.uri }}" target="_blank" rel="noopener noreferrer">
                        Partager sur WhatsApp
                    </a>
                    <a class="text-decoration-none black" href="mailto:?subject=Check%20this%20out&body={{ app.request.uri }}" target="_blank" rel="noopener noreferrer">
                        Partager par e-mail
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}