{% extends 'frontoffice/_components/layout.html.twig' %}

{% block body %}



    <!-- ARTISTES ACCOMPAGNES -->
    <div class="p-lg-5 container-fluid">
        <div class="p-sm-5 p-md-5 p-lg-0 px-lg-3">
            <div class="row">
                <div class=" text-center text-lg-start col-md-6 col-lg-3">
                    <div class="h1 mb-5 mt-5 mt-lg-0 mb-lg-0">Artistes <br> Accompagnés</div>

                </div>
                <div class="text-center text-lg-start col-md-6 col-lg-4 offset-lg-2">
                    <h2>Dispositif d’accompagnement de<br> La Lune des Pirates</h2>
                </div>
                <div class="col-md-12 col-lg-3" style="line-height: 0.8">
{#                    <p class="objectif-soutiens mb-0">Objectif</p>#}
{#                    <p class="lune-soutiens mb-0">LUNE</p>#}
                    <img class="img-fluid" src="{{ asset(getSiteImagePath('Logo_ObjectifLune_NB.png')) }}">


                </div>
            </div>
            <div class="fs-5 py-4 px-3 px-lg-0">
                {{ category_accomp.getDatas(locale) }}
                {{ category_accomp.description|raw }}
            </div>
        </div>

        <div class="row">
            {% for accomp in accompagnes %}
                {{  accomp.getDatas(locale) }}

                {% set media = accomp.getMedia(4) %}
                <div class="custom-col-xxl-3 col-lg-4 col-md-12 py-3 pb-lg-5 px-lg-1 px-md-0">
                    <!-- Card-Actu -->
                    {% include 'frontoffice/_components/card.html.twig' with {'event': accomp, 'agenda': false, 'showButton': false, 'actu': false, 'billetterie' : false, 'soutiens' : true, "actions" : false } %}
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- AUDITIONS -->
    <div class="p-lg-5 bg-grey container-fluid">
        <div class="p-sm-5 p-md-5 py-lg-0 px-lg-3">
            <div class="row">
                <div class="mb-5 mt-3 mt-lg-0 mb-lg-0 text-center text-lg-start col-md-6 col-lg-3">
                    <h1 class="">Auditions</h1>
                </div>
                <div class="text-center text-lg-start col-md-6 col-lg-4 offset-lg-2">
                    <h2>Dispositif national de repérage et de sélection de nouveaux talents</h2>
                </div>
                <div class="col-md-12 col-lg-3" style="line-height: 40pt">
{#                    <p class="objectif-soutiens">Les inouïs du printemps de Bourges</p>#}
                    <img class="img-fluid" src="{{ asset(getSiteImagePath('Logo_inouis_NB.png')) }}">

                </div>
            </div>


            <div class="fs-5 py-4 px-3 px-lg-0">
                {{ category_audition.getDatas(locale) }}
                {{ category_audition.description|raw }}
            </div>
        </div>

        <div class="row">
            {% for accomp in auditions %}
                {{  accomp.getDatas(locale) }}

                {% set media = accomp.getMedia(4) %}
                <div class="custom-col-xxl-3 col-lg-4 col-md-12 py-3 pb-lg-5 px-lg-1 px-md-0">

                    <!-- Card-Actu -->
                    {% include 'frontoffice/_components/card.html.twig' with {'event': accomp, 'agenda': false, 'showButton': false, 'actu': false, 'billetterie' : false, 'soutiens' : true, 'actions': false } %}
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Évènements Actualités -->

    <div class="p-lg-5 container-fluid">
        <div class="p-sm-5 p-md-5 p-lg-0">
            <div class="text-center text-lg-start row px-lg-3">
                <h1 class="py-4">Evenements<br> Actualités</h1>
            </div>
        </div>


        <div class="h3 py-4 px-3 px-lg-3">
            {{ category_event.getDatas(locale) }}
            {{ category_event.description|raw }}
        </div>
        <div class="row">
            {% for event_actu in event_actus %}
                {{  event_actu.getDatas(locale) }}

                {% set media = event_actu.getMedia(4) %}
                <div class="custom-col-xxl-3 col-lg-4 col-md-12 py-3 pb-lg-5 px-lg-1 px-md-0">

                    <!-- Card-Actu -->
                    {% include 'frontoffice/_components/card.html.twig' with {'event': event_actu, 'agenda': false, 'showButton': true, 'actu': true, 'billetterie': false, 'soutiens': false, 'actions': false } %}
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}