{% extends 'frontoffice/_components/layout.html.twig' %}

{% block body %}



    <!-- ARTISTES ACCOMPAGNES -->
    <div class="p-lg-5">
        <div class="p-sm-5 p-md-5 p-lg-0">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <h1 class="pt-4">Artistes Accompagnés</h1>
                </div>
                <div class="col-md-6 col-lg-3 offset-lg-3">
                    <h2>Dispositif d’accompagnement de La Lune des Pirates</h2>
                </div>
                <div class="col-3" style="line-height: 0.7">
                    <p style="font-size: 60px; font-weight: bold">Objectif</p>
                    <p style="font-size: 80px; font-weight: bold">LUNE</p>
                </div>
            </div>
            <p class="h3 py-5">
                Eux, elle, ce sont les artistes que La Lune va accompagner pendant un an, peut-être deux. Ce sont les projets qui ont été choisis pour leur parcours mais aussi pour leurs besoins auxquels nous allons tenter de répondre : structure administrative, besoin de répétitions ou de coaching, soutien à l’enregistrement...
            </p>
            <p class="h3 pb-4">
                8 personnalités pour autant d’univers, que nous tentons de vous faire connaître à travers ces quelques lignes qui, nous l’espérons, vous donneront envie d’aller voir plus loin.
            </p>
        </div>

        <div class="row">
            {% for accomp in accompagnes.elements %}
                {{  accomp.element.getDatas(locale) }}

                {% set media = accomp.element.getMedia(4) %}
                <div class="col-lg-4 col-md-12 pb-lg-3 px-0">
                    <!-- Card-Actu -->
                    <a class="text-decoration-none" href="{{ path('fo_soutiens_detail', { 'title': accomp.element.title }) }}">
                        <div class="card mb-lg-3 mx-lg-2 shadow-lg rounded-0 h-100">

                        {% if media is not null %}
                            {% set url = '/assets/images/' ~ media.media %}
                            <img src="{{ asset((url)) }}" class="card-img-top rounded-0" alt="...">
                        {% endif %}
                        <!-- Themes -->
                        <div class="row m-0 p-0">
                            <div class="col-5 theme-1 text-uppercase"  style="background-color: {{ accomp.element.themeBackColor }};color: {{ accomp.element.themeTextColor }};">
                                {% set themes = accomp.element.themes %}
                                {% for theme in themes %}
                                    {{ theme.name }}
                                {% endfor %}
                            </div>
                            <div class="col-7 theme-2" style="background-color: {{ accomp.element.styleBackColor }};color: {{ accomp.element.styleTextColor }};">
                                <img class="tiny-icon" src="{{ asset(('build/maquette/images/MINI_BILLETTERIE.svg')) }}">
                                {{ accomp.element.style }}
                            </div>
                        </div>
                        <div class="card-body pt-0 ">

                            <div class="row">
                                <!-- ARTISTE -->
                                <div class="col-9 d-flex align-items-end">
                                    <h1 class="card-title my-3 fw-bold">
                                        {{ accomp.element.title }}
                                    </h1>
                                </div>

                                <!-- COUP DOEUIL -->
                                <div class="col-3">
                                    <img src="{{ asset(('build/maquette/images/COUPDOEUIL.png')) }}" class="card-img-top rounded-0" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- AUDITIONS -->
    <div class="p-lg-5 bg-grey">
        <div class="p-sm-5 p-md-5 p-lg-0">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <h1 class="pt-4">Auditions</h1>
                </div>
                <div class="col-md-6 col-lg-3 offset-lg-3">
                    <h2>Dispositif national de repérage et de sélection de nouveaux talents</h2>
                </div>
                <div class="col-3" style="line-height: 40pt">
                    <p style="font-size: 60px; font-weight: bold">Les inouïs du printemps de Bourges</p>
                </div>
            </div>

            <p class="h3 py-5">
                Eux, elle, ce sont les artistes que La Lune va accompagner pendant un an, peut-être deux. Ce sont les projets qui ont été choisis pour leur parcours mais aussi pour leurs besoins auxquels nous allons tenter de répondre : structure administrative, besoin de répétitions ou de coaching, soutien à l’enregistrement...


            </p>
            <p class="h3 pb-4">
                8 personnalités pour autant d’univers, que nous tentons de vous faire connaître à travers ces quelques lignes qui, nous l’espérons, vous donneront envie d’aller voir plus loin.
            </p>
        </div>

        <div class="row">
            {% for accomp in auditions.elements %}
                {{  accomp.element.getDatas(locale) }}

                {% set media2 = accomp.element.getMedia(4) %}
                <div class="col-lg-4 col-md-12 pb-lg-3 px-0">
                    <!-- Card-Actu -->
                    <div class="card mb-lg-3 mx-lg-2 shadow-lg rounded-0 h-100">


                        {% if media2 is not null %}
                            {% set url = '/assets/images/' ~ media2.name  %}
                            <img src="{{ asset((url)) }}" class="card-img-top rounded-0" alt="...">
                        {% endif %}

                        <!-- Themes -->
                        <div class="row m-0 p-0">
                            <div class="col-5 theme-1 text-uppercase"  style="background-color: {{ accomp.element.themeBackColor }};color: {{ accomp.element.themeTextColor }};">
                                {% set themes = accomp.element.themes %}
                                {% for theme in themes %}
                                    {{ theme.name }}
                                {% endfor %}
                            </div>
                            <div class="col-7 theme-2 text-uppercase" style="background-color: {{ accomp.element.styleBackColor }};color: {{ accomp.element.styleTextColor }}">
                                <img class="tiny-icon" src="{{ asset(('build/maquette/images/MINI_BILLETTERIE.svg')) }}">
                                {{ accomp.element.style }}
                            </div>
                        </div>
                        <div class="card-body pt-0 ">

                            <div class="row">
                                <!-- ARTISTE -->
                                <div class="col-9 d-flex align-items-end">
                                    <h1 class="card-title my-3 fw-bold">{{ accomp.element.title }}</h1>
                                </div>

                                <!-- COUP DOEUIL -->
                                <div class="col-3">
                                    <img src="{{ asset(('build/maquette/images/COUPDOEUIL.png')) }}" class="card-img-top rounded-0" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Évènements Actualités -->

    <div class="p-lg-5">
        <div class="p-sm-5 p-md-5 p-lg-0">
            <div class="row">
                <h1 class="py-4">Evenements Actualités</h1>
            </div>
        </div>
        <div class="row">
            {% for event_actu in event_actus.elements %}
                {{  event_actu.element.getDatas(locale) }}

                {% set media3 = event_actu.element.getMedia(4) %}
                <div class="col-lg-4 col-md-12 pb-lg-3 px-0">
                    <!-- Card-Actu -->
                    <div class="card mb-lg-3 mx-lg-2 shadow-lg rounded-0 h-100">

                        {% if media3 is not null %}
                            {% set url = '/assets/images/' ~ media3.name  %}
                            <img src="{{ asset((url)) }}" class="card-img-top rounded-0" alt="...">
                        {% endif %}
                        <!-- Themes -->
                        <div class="row m-0 p-0">
                            <div class="col-5 theme-1 text-uppercase"  style="background-color: {{ event_actu.element.themeBackColor }};color: {{ event_actu.element.themeTextColor }};">
                                {% set themes = event_actu.element.themes %}
                                {% for theme in themes %}
                                    {{ theme.name }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-body  ">

                            <!-- ARTISTE -->

                            <h2 class="card-title my-3">{{ event_actu.element.title }}</h2>
                        </div>

                        <div class="container">
                            <div class="row">
                                <!-- BILLETTERIE -->
                                <div class="col-3">
                                    <a href="https://billetterie.lalune.net/">
                                        <img src="{{ asset(('build/maquette/images/BILLETTERIE.png')) }}" class="card-img-top rounded-0" alt="...">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}