{% extends 'frontoffice/_components/layout.html.twig' %}

{% block body %}

    <!-- ARTISTES ACCOMPAGNES -->

    {% do category_accomp.getDatas(locale) %}

    <div id="{{ category_accomp.title }}">
        <div class="wrapper">
            {% include 'frontoffice/_components/title_soutiens.html.twig' with {'events': null, 'filter': false, 'historic': false, 'title': 'DISPOSITIF D’ACCOMPAGNEMENT DE LA LUNE DES PIRATES' , linkToSorted: false, logo : 'Logo_ObjectifLune_NB.png' } %}


            <div class="container-fluid">

                <!-- Description de la catégorie -->
                <div class="fs-5 py-4 px-2 px-lg-3">
                    {{ category_accomp.content|raw }}
                </div>

                <!-- Boucle de nos cards artistes accompagnes -->
                <div class="row">
                    {% for accomp in accompagnes %}
                        {% do accomp.getDatas(locale) %}
                        {% set media = accomp.getMedia(4) %}
                        <div class="custom-col-xxl-3 col-lg-4 px-lg-3 col-md-12 py-3 pb-lg-5 px-lg-1 px-md-0">
                            <!-- Card-Actu -->
                            {% include 'frontoffice/_components/card.html.twig' with {'event': accomp, 'agenda': false, 'showButton': false, 'actu': false, 'billetterie' : false, 'soutiens' : true, "actions" : false, 'linkActu' : null } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- AUDITIONS -->
    {% do category_audition.getDatas(locale) %}
    <div id="{{ category_audition.title }}" class="bg-grey container-fluid px-0">
        <div class="wrapper">
            {% include 'frontoffice/_components/title_soutiens.html.twig' with {'events': null, 'filter': false, 'historic': false, 'title': category_audition.description, linkToSorted: false, logo: 'inouis.png' } %}

            <div class="container-fluid">

                <!-- Description Audition -->
                <div class="fs-5 py-4 px-2 px-lg-3">
                    {{ category_audition.content|raw }}
                </div>

                <!-- Boucle sur les articles auditions -->
                <div class="row">
                    {% for accomp in auditions %}
                        {% do  accomp.getDatas(locale) %}
                        {% set media = accomp.getMedia(4) %}
                        <div class="custom-col-xxl-3 col-lg-4 px-lg-3 col-md-12 py-3 pb-lg-5 px-lg-1 px-md-0">

                            <!-- Card-Actu -->
                            {% include 'frontoffice/_components/card.html.twig' with {'event': accomp, 'agenda': false, 'showButton': false, 'actu': false, 'billetterie' : false, 'soutiens' : true, 'actions': false, 'linkActu' : null } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Évènements Actualités -->
    <div id="{{ category_event.title }}">
        <div class="wrapper">
            {% do category_event.getDatas(locale) %}
            {% include 'frontoffice/_components/title_soutiens.html.twig' with {'events': null, 'filter': false, 'historic': false, 'title': category_event.description , linkToSorted: false, logo : false } %}


            <div  class="container-fluid">
                {% if category_event.content %}
                    <div class="fs-5 py-4 px-2 px-lg-3">
                    {{ category_event.content|raw }}
                </div>
                {% endif %}
                <div class="row">
                    {% for event_actu in event_actus %}
                        {% do  event_actu.getDatas(locale) %}
                        {% set media = event_actu.getMedia(4) %}
                        <div class="custom-col-xxl-3 col-lg-4 px-lg-3 col-md-12 py-4 pb-lg-5 px-md-0">

                            <!-- Card-Actu -->
                            {% include 'frontoffice/_components/card.html.twig' with {'event': event_actu, 'agenda': false, 'showButton': true, 'actu': true, 'billetterie': false, 'soutiens': false, 'actions': false, 'linkActu' : true } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}