{% extends 'frontoffice/_components/layout.html.twig' %}
{% block body %}

    <div class="px-4 p-lg-5 ">
        <div class="row">
            <div id="page-link-container" class="col-lg-3 col-md-12 p-5 menu text-md-center text-sm-center">
                <div class="row">
                    <div class="col-lg-10 col-md-12 pt-lg-5">
                        {% for article in articles %}
                            <div class="text-center text-lg-start h3 py-3 menu-item {% if active_entry == 'entry' ~ loop.index %}active{% endif %}" data-entry="entry{{ loop.index }}">
                                {{ article.title | upper}}
                            </div>
                            <div id="blue-dot{{ loop.index0 }}" class="blue-dot"></div>
                        {% endfor %}
                    </div>
                    <div class="col-2 d-sm-none d-md-none d-lg-block">
                        <img src="{{ asset(getSiteImagePath('SOUTIENS_MENU.png')) }}" class="d-none d-lg-block">
                    </div>
                </div>
            </div>

            <div class="d-lg-none">

                <hr>
            </div>

            <div id="page-container"  class="col-lg-9 col-md-12">
                {% for article in articles %}
                    <div id="entry{{ loop.index }}" class="py-5 px-lg-5 {% if loop.index > 1 %}hidden{% endif %}" >
                        <div class="row">
                            <div class="col-12 text-center pb-5">
                                {% do article.getDatas(locale) %}

                                <div class="h2">{{ article.title|upper }}</div>
                            </div>
                            <div class="fs-5 mb-5">
                                {{ article.description|raw }}


                            </div>
                            {% set media = article.getMedia(20) %}

                            {% if media is not null %}
                                <img src="{{ url('ressources_image', {'width':'src','height':'src', 'media':media.media} ) }}"  class="card-img-top rounded-0 transport-info object-fit-contain" alt="...">
                            {% endif  %}


                            <br>
                            <div class="fs-5 mt-5">
                                {{ article.content|raw }}
                            </div>
                            <div>
                                {% if not article.getFiles is empty %}

                                    <div class="mt-5">
                                        {% set filesArray = article.getFiles() %}
                                        {% set arrayLength = filesArray|length %}
                                        {% if arrayLength > 1 %}
                                            <h4 class="mb-5">Fichiers liés à l'article : </h4>
                                        {% elseif arrayLength == 1 %}
                                            <h4 class="mb-5">Fichier lié à l'article : </h4>
                                        {% endif %}
                                        {% for file in article.getFiles() %}
                                            {% set url_file = '/assets/images/' ~ file.media %}
                                            <a class="btn-files fs-5" href="{{ url_file }}" role="button">{{ file.legend }}</a>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>




{% endblock %}
