{% extends '/frontoffice/_components/layout.html.twig' %}
{% block body %}
    <h2 class="p-5">FAQ</h2>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="p-2 p-lg-5">
            {% for article in articles_question %}
                {{ article.getDatas(locale) }}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed fs-3 p-2" type="button" style="font-family: 'Akshar', sans-serif" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ loop.index }}" aria-expanded="false" aria-controls="flush-collapse-{{ loop.index }}">
                            {{ loop.index }} - {{ article.description | raw }}
                        </button>
                    </h2>
                    <div id="flush-collapse-{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body fs-3">{{ article.content | raw }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}