{% extends '@!EasyAdmin/crud/index.html.twig' %}

{# surcharge des actions #}
{% block global_actions %}
    {%  include('backoffice/actions/global_actions.html.twig') %}
{% endblock global_actions %}


{% block table_body %}
    {# CUSTOM : génération d'url personnalisées #}
    {% set my_url = ea_url() %}
    {% set my_controller = 'App\\Controller\\Backoffice\\ArticleCrudController' %}

    {% for entity in entities %}
        {% if entity.isAccessible %}
            <tr data-id="{{ entity.primaryKeyValueAsString }}">
                {% if has_batch_actions %}
                    <td class="batch-actions-selector">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input form-batch-checkbox" value="{{ entity.primaryKeyValue }}">
                        </div>
                    </td>
                {% endif %}

                {% for field in entity.fields %}
                    {#  CUSTOM : Titre #}
                    {% if field.property == 'title' %}
                        {% if entity.fields.getByProperty('children').formattedValue > 0 %}
                            <td data-label="{{ field.label|trans|e('html_attr') }}" class="{{ field.property == sort_field_name ? 'sorted' }} text-{{ field.textAlign }} {{ field.cssClass }}" dir="{{ ea.i18n.textDirection }}">
                                <a href="{{ my_url.unsetAll().setController(my_controller).setAction('detail').setEntityId(entity.primaryKeyValue) }}">
                                    {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
                                </a>
                            </td>
                        {% else %}
                            <td data-label="{{ field.label|trans|e('html_attr') }}" class="{{ field.property == sort_field_name ? 'sorted' }} text-{{ field.textAlign }} {{ field.cssClass }}" dir="{{ ea.i18n.textDirection }}">
                                {% for action in entity.actions %}
                                    {%  if action.name == 'edit' %}
                                        <a href="{{ action.linkUrl }}">
                                            {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endif %}
                    {# CUSTOM Pour property 'children'#}
                    {% elseif field.property == 'children' %}
                        {% if field.value != null %}
                            <td>
                                <div>
                                    <a href="{{ my_url.unsetAll().setController(my_controller).setAction('detail').setEntityId(entity.primaryKeyValue) }}">
                                        {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
                                    </a>
                                </div>
                            </td>
                        {% else %}
                            <td>
                                {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
                            </td>
                        {% endif %}
                    {# CUSTOM Pour property 'category'#}
                    {% elseif field.property == 'category' %}
                        {% if field.value != null %}
                            <td>
                                <div>
                                    <a href="{{ my_url.unsetAll().setController(my_controller).setAction('index').set('categoryId', field.value.id) }}">
                                        {{ field.formattedValue }}
                                    </a>
                                </div>
                            </td>
                        {% else %}
                            <td>
                                {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
                            </td>
                        {% endif %}
                    {% elseif field.label == 'Medias'%}
                        <td>
                            / {{ medias|length }}
                        </td>
                    {% else %}

                        <td data-label="{{ field.label|trans|e('html_attr') }}" class="{{ field.property == sort_field_name ? 'sorted' }} text-{{ field.textAlign }} {{ field.cssClass }}" dir="{{ ea.i18n.textDirection }}">
                            {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
                        </td>
                    {% endif %}
                {% endfor %}

                {% block entity_actions %}
                    <td class="actions {{ ea.crud.showEntityActionsAsDropdown ? 'actions-as-dropdown' }}">
                        {% if entity.actions.count > 0 %}
                            {% if ea.crud.showEntityActionsAsDropdown %}
                                <div class="dropdown dropdown-actions">
                                    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {# don't use FontAwesome 'fa-ellipsis-h' icon here because it doesn't look good #}
                                        {# this icon is 'dots-horizontal' icon from https://heroicons.com/ #}
                                        <svg xmlns="http://www.w3.org/2000/svg" height="21" width="21" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
                                        </svg>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        {% for action in entity.actions %}
                                            {{ include(action.templatePath, { action: action, entity: entity, isIncludedInDropdown: ea.crud.showEntityActionsAsDropdown }, with_context = false) }}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                {% for action in entity.actions %}
                                    {{ include(action.templatePath, { action: action, entity: entity, isIncludedInDropdown: ea.crud.showEntityActionsAsDropdown }, with_context = false) }}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </td>
                {% endblock entity_actions %}
            </tr>

        {% endif %}
    {% else %}
        {% block table_body_empty %}
            {% for i in 1..14 %}
                <tr class="empty-row">
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                </tr>

                {% if 3 == loop.index %}
                    <tr class="no-results">
                        <td colspan="100">
                            {{ t('datagrid.no_results', ea.i18n.translationParameters, 'EasyAdminBundle')|trans }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endblock table_body_empty %}
    {% endfor %}

    {% if some_results_are_hidden %}
        <tr class="datagrid-row-empty">
            <td class="text-center" colspan="100">
                <span class="datagrid-row-empty-message"><i class="fa fa-lock mr-1"></i> {{ 'datagrid.hidden_results'|trans({}, 'EasyAdminBundle') }}</span>
            </td>
        </tr>
    {% endif %}
{% endblock table_body %}