

{% block _Article_gallery_edit_widget %}
    {# Url d'upload #}
    {% set upload_url = ea_url()
        .unsetAll()
        .setController('App\\Controller\\Backoffice\\GalleryCrudController')
        .setAction('upload')
        .set('folderId', folderId)
    %}
    {# Url de suppression d l'upload #}
    {% set delete_upload_url = ea_url()
        .unsetAll()
        .setController('App\\Controller\\Backoffice\\GalleryCrudController')
        .setAction('deleteUpload')
        .set('entityId', ea.entity.primaryKeyValue)
        .generateUrl()
    %}
    <div class="entity-detail-media-card mb-3">
        <div class="form-group mb-3">
            <div
                class="my-multi-dropzone text-center dropzone"
                data-upload-url="{{ upload_url }}"
                data-upload-message="{{ 'upload.upload-message'|trans ~ ' ' ~ acceptedExtensions|join(', ') }}"
                data-accepted-file-types="{{ acceptedFileTypes|join(',') }}"
                data-id="{{ form.vars.name }}"
                data-delete-href="{{ delete_upload_url }}"
            >
            </div>
        </div>
    </div>
    <input type="hidden" name="folderId-{{ form.vars.name }}" id="folderId-{{ form.vars.name }}" />
{% endblock %}