

{% block _Article_media_edit_widget %}
    {# Url d'upload #}
    {% set upload_url = ea_url()
        .unsetAll()
        .setController('App\\Controller\\Backoffice\\ArticleCrudController')
        .setAction('upload')
    %}
    <div class="article-detail-media-card mb-3">
        {# Zone d'upload du nouveau média #}
        <div class="form-group">
            <div
                class="my-dropzone text-center dropzone"
                data-upload-url="{{ upload_url }}"
                data-upload-message="{{ 'upload.upload-message'|trans }}"
            >
            </div>
        </div>
        <div class="field-text form-group">
            <label for="Media_legend" class="form-control-label">
                description
            </label>
            <div class="form-widget">
                <input type="text" name="legend-{{ form.vars.name }}" class="form-control">
            </div>
        </div>
        <input type="hidden" name="folderId-{{ form.vars.name }}" id="folderId" />
        <input type="hidden" name="filename-{{ form.vars.name }}" id="filename" />
    </div>
{% endblock %}