{% extends 'layout.html.twig' %}

{% block title %}Accès - {{ site }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-md-6 col-xl-4">
                <div class="text-center m-4">
                    <img
                        class="mb-4"
                        src="{{ asset(getSiteImagePath('logo.png')) }}"
                        style="max-width: 100%" alt="{{ site }}"
                    >
                </div>
                <h3>Définissez votre mot de passe</h3>
                {{ form_start(definePasswordForm) }}
                {{ form_row(definePasswordForm.plainPassword) }}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">{{ 'define-password.submit'|trans }}</button>
                </div>
                {{ form_end(definePasswordForm) }}
            </div>
        </div>
    </div>
{% endblock %}
