{% extends 'layout.html.twig' %}

{% block title %}
    Connexion - {{ parent() }}
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-xl-4">
            <div class="text-center m-4">
                <img
                    class="mb-4"
                    src="{{ asset(getSiteImagePath('placeholder.png')) }}"
                    style="max-width: 100%" alt="{{ site }}"
                >
            </div>
            <div class="text-center text-danger m-4">
                <p>{{ error ? 'login.error.bad-credentials'|trans : '' }}</p>
            </div>
            <form method="post">
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="inputEmail" name="email"  class="form-control form-control-lg" autocomplete="email" value="{{ last_username }}"  required autofocus/>
                    <label class="form-label" for="inputEmail">{{ 'login.email'|trans }}</label>
                </div>
                <!-- Password input -->
                <div class="form-outline mb-3">
                    <input type="password" name="password" id="inputPassword" class="form-control form-control-lg"
                           autocomplete="current-password" required/>
                    <label class="form-label" for="inputPassword">{{ 'login.password'|trans }}</label>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </div>
                <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Connexion</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

