{% extends 'frontoffice/_components/layout.html.twig' %}
{% block meta_robots %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}


{% block body %}
    {% if event is not null %}
        <div class="p-5">
            <div class="text-center h2 pb-5">
                {{ event.getDatas(locale) }}
                {{ event.title }}
            </div>

            <div class="row text-center">
                {% if article.instagramLink != '' %}
                    <div class="col-3">
                        <a href="{{ article.instagramLink }}"><img class="mh-45"  src="{{ asset('build/front/images/PICTURE.svg') }}"></a>
                    </div>
                {% endif %}
                {% if article.twitterLink != '' %}
                    <div class="col-3">
                        <a href="{{ article.twitterLink }}"><img class="mh-45" src="{{ asset('build/front/images/TWITTER.svg') }}"></a>
                    </div>
                {% endif %}
                {% if article.facebookLink != '' %}
                    <div class="col-3">
                        <a href="{{ article.facebookLink }}"><img class="mh-45" src="{{ asset('build/front/images/FACEBOOK.svg') }}"></a>
                    </div>
                {% endif %}
                {% if article.siteInternet != '' %}
                    <div class="col-3">
                        <a href="{{ article.siteInternet }}"><img class="mh-45" src="{{ asset('build/front/images/INTERNET.svg') }}"></a>
                    </div>
                {% endif %}
            </div>


            <div class="fs-3 py-3">
                {{ event.description | raw }}
            </div>
            <br>
            <div class="fs-3">
                {{ event.content | raw }}
            </div>
        </div>
        <div class="mt-5">
            <!-- VIDEO ARTISTE -->
            {% if event.youtubeLink is not null and event.youtubeLink is not empty %}

                <div class="embed-responsive embed-responsive-16by9 p-5">
                    <iframe class="embed-responsive-item " style="height: 840px; width: 1240px" src="{{ event.youtubeLink }}" allowfullscreen></iframe>
                </div>
            {% endif %}
            <div>
                {% if event.youtubeSecondLink is not null and event.youtubeSecondLink is not empty %}

                    <div class="embed-responsive embed-responsive-16by9 p-5">
                        <iframe class="embed-responsive-item " style="height: 840px; width: 1240px" src="{{ event.youtubeSecondLink }}" allowfullscreen></iframe>
                    </div>
                {% endif %}
            </div>

            <div class="p-5">
                {% if not article.getFiles is empty %}

                    <div class="mt-5">
                        {% set filesArray = article.getFiles() %}
                        {% set arrayLength = filesArray|length %}
                        {% if arrayLength > 1 %}
                            <h4 class="mb-5">Fichiers liés à l'article : </h4>
                        {% elseif arrayLength == 1 %}
                            <h4 class="mb-5">Fichier lié à l'article : </h4>
                        {% endif %}
                        {% for file in article.getFiles() %}
                            {% set url_file = '/assets/images/' ~ file.media %}
                            <a class="btn-files fs-5" href="{{ url_file }}" role="button">{{ file.legend }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        </div>






    {% else %}
        <div class="p-5 fs-3 text-center">
            Aucun Article ne correspond à ce hash.
        </div>
    {% endif %}
{% endblock %}