{% extends 'frontoffice/_components/layout.html.twig' %}


{% block body %}
    <!-- Récupération des datas de l'article -->
    {{ article.getDatas(locale) }}
    {% set mediaArticle = article.getMedia(8) %}
    <div class="p-lg-5">
        <!-- ARTICLE -->
        <div class="p-lg-5 h2">
            <!-- IMAGE ARTICLE -->
            {% if mediaArticle is not null %}
                {% set url = '/assets/images/' ~ mediaArticle.media  %}
                <img  src="{{ asset((url)) }}" class="card-img-top rounded-0 mb-5" style="object-fit: cover;" alt="...">
            {% endif %}
            <div class="pt-4 position-relative">
                <img src="{{ asset(('build/maquette/images/actu_cadre_1.svg')) }}" class="position-absolute" style="max-height: 50px; top:0; left: 0 !important;" alt="ACTIONCULTURELLE">
                <div class="row px-5 pt-5" >
                    <div class="col-lg-10 col-md-12" style="padding-left: 30px">
                        <!-- Titre -->
                        <div class="h2">{{ article.title }}</div>
                        <div class="row">
                            {% if article.instagramLink != '' %}
                                <div class="col-3">
                                    <a href="{{ article.instagramLink }}"><img class="mh-45"  src="{{ asset('build/front/images/PICTURE.svg') }}"></a>
                                </div>
                            {% endif %}
                            {% if article.twitterLink != '' %}
                                <div class="col-3">
                                    <a href="{{ article.twitterLink }}"><img class="mh-45" src="{{ asset('build/front/images/TWITTER.svg') }}"></a>
                                </div>
                            {% endif %}
                            {% if article.facebookLink != '' %}
                                <div class="col-3">
                                    <a href="{{ article.facebookLink }}"><img class="mh-45" src="{{ asset('build/front/images/FACEBOOK.svg') }}"></a>
                                </div>
                            {% endif %}
                            {% if article.siteInternet != '' %}
                                <div class="col-3">
                                    <a href="{{ article.siteInternet }}"><img class="mh-45" src="{{ asset('build/front/images/INTERNET.svg') }}"></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12">
                        <!-- Thème -->
                        {{ article.category.getDatas(locale) }}
                        <div class="text-center h2 white" style="background-color: {{ article.category.themeBackColor }}; min-height: 50px;">
                            <div class="p-1">
                                {% set themeArticle = article.category.title %}
                                {{ article.category.title }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-5" >
                <!-- Sous-titre -->
                <div class="row position-relative "  style="padding-left: 20px">
                    <div class="col-md-12 col-lg-8 fs-5">

                        <div style="padding-right: 40px" class="pb-5">
                            {{ article.description | raw }}
                        </div>



                        <!-- Contenu -->
                        <div style="padding-right: 40px">
                            <p class="fs-4">

                                {{ article.subtitle }}
                            </p>

                            {% set mediaArticle2 = article.getMedia(2) %}
                            {% if mediaArticle2 is not null %}
                                {% set url = '/assets/images/' ~ mediaArticle2.media  %}
                                <img  src="{{ asset((url)) }}" class="card-img-top rounded-0 mb-5" style="object-fit: cover;" alt="...">
                            {% endif %}





                            {{ article.content | raw }}
                        </div>
                        <div>
                            {% if not article.getFiles is empty %}

                                <div class="mt-5">
                                    {% set filesArray = article.getFiles() %}
                                    {% set arrayLength = filesArray|length %}
                                    {% if arrayLength > 1 %}
                                        <div class="mb-5">
                                            Fichiers :
                                            {% for file in article.getFiles() %}
                                                {% set url_file = '/assets/images/' ~ file.media %}
                                                <a class="btn-files fs-5" href="{{ url_file }}" role="button">{{ file.legend }}</a>
                                            {% endfor %}</div>
                                    {% elseif arrayLength == 1 %}
                                        <div class="mb-5">
                                            Fichier :
                                            {% for file in article.getFiles() %}
                                                {% set url_file = '/assets/images/' ~ file.media %}
                                                <a class="btn-files fs-5" href="{{ url_file }}" role="button">{{ file.legend }}</a>
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                </div>
                            {% endif %}</div>
                        <div class="mt-5">
                            <!-- VIDEO ARTISTE -->
                            {% if article.youtubeLink is not null and article.youtubeLink is not empty  %}
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item w-100" style="height: 860px;" src="{{ article.youtubeLink }}" allowfullscreen></iframe>
                                </div>
                            {% endif %}
                            {% if article.youtubeLink2 is not null and article.youtubeLink2 is not empty  %}
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item w-100" style="height: 860px;" src="{{ article.youtubeLink2 }}" allowfullscreen></iframe>
                                </div>
                            {% endif %}
                        </div>
                        <img src="{{ asset(('build/maquette/images/actu_cadre_2.svg')) }}" class="position-absolute" style="height: 50px; bottom:0; left: 95%;" alt="ACTIONCULTURELLE">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Voir aussi -->
    <div class="bg-grey">
        <div class="p-lg-5 ">
            <h1>Voir aussi >> >> >></h1>
            <div class="row p-2 ">
                {% set test = 0 %}
                {% for actu in actu_childs %}
                    <!-- Récupération des datas de l'article -->
                    {{ actu.getDatas(locale) }}
                    {% set media = actu.getMedia(2) %}
                    {% if actu.title|upper != article.title|upper %}
                        {% set themesChild = actu.category.title %}
                            {% if actu.category.title == themeArticle %}
                                {% set test = test + 1 %}
                                <div class="col-lg-4 col-md-12 py-2">
                                    <!-- Card-Actu -->
                                    {% include 'frontoffice/_components/card.html.twig' with {'event': actu, 'agenda': false, 'showButton': true, 'actu': true, 'billetterie': true, 'soutiens': false, 'actions' : false } %}
                                </div>
                            {% endif %}
                    {% endif %}
                {% endfor %}
                {% if test == 0 %}
                    <div class="h2">Pas d'autres articles dans ce thème</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}