{% extends 'frontoffice/_components/layout.html.twig' %}


{% block body %}
    <!-- Récupération des datas de l'article -->
    {{ article.getDatas(locale) }}
    {% set mediaArticle = article.getMedia(2) %}
    <div class="p-5">
        <!-- ARTICLE -->
        <div class="p-5 h2">
            <!-- IMAGE ARTICLE -->
            {% if mediaArticle is not null %}
                {% set url = '/assets/images/' ~ mediaArticle.media  %}
                <img  src="{{ asset((url)) }}" class="card-img-top rounded-0 mb-5" style="object-fit: cover; max-height: 40vh;" alt="...">
            {% endif %}
            <div class="pt-4 position-relative">
                <img src="{{ asset(('build/maquette/images/actu_cadre_1.svg')) }}" class="position-absolute" style="max-height: 50px; top:0; left: 0 !important;" alt="ACTIONCULTURELLE">
                <div class="row px-5 pt-5" >
                    <div class="col-lg-10 col-md-12" style="padding-left: 30px">
                        <!-- Titre -->
                        <div class="h2">{{ article.title }}</div>
                    </div>
                    <div class="col-lg-2 col-md-12">
                        <!-- Thème -->
                        {{ article.category.getDatas(locale) }}
                        <div class="text-center h2 white" style="background-color: {{ article.category.themeBackColor }}; min-height: 50px;">
                            <div class="p-1">
                                {% set themeArticle = article.category.title %}
                                {{ article.category.title }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-5" >
                <!-- Sous-titre -->
                <div class="h3" style="padding-left: 20px">{{ article.subtitle }}</div>
                <div class="row position-relative "  style="padding-left: 20px">
                    <div class="col-md-12 col-lg-8 fs-5">
                        <!-- Contenu -->
                        <div style="padding-right: 40px">
                        {{ article.content | raw }}
                        </div>
                        <img src="{{ asset(('build/maquette/images/actu_cadre_2.svg')) }}" class="position-absolute" style="height: 50px; bottom:0; left: 95%;" alt="ACTIONCULTURELLE">
                    </div>
                    <!-- Billetterie -->
                    <div class="col-lg-4  col-md-12">
                        <div class="py-5">
                            <p class="fs-2">
                                <b>{{ formatCustomDate(article.dateEvent) }}</b>
                            </p>
                            <p>{% if article.datetimeEvent is not null and article.datetimeEvent is not empty %}
                                    {{ article.datetimeEvent | date("H:i")}}
                                {% endif %}
                            </p>
                        </div>
                        <div class="row mb-5">
                            <div class="col-6 fs-5">
                                Tarif normal
                            </div>
                            <div class="col-6 fs-5">
                                Tarif abonné
                            </div>
                            <div class="col-3 h-100" style="padding-right: 0px; ">
                                <div class="border border-1 border-dark p-2 w-100 fs-5" style="background-color: #e6e6e6">0 €</div>
                            </div>
                            <div class="col-3 fs-5" style="padding-left: 0px">
                                <select class="w-100 p-1">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                            <div class="col-3" style="padding-right: 0px; ">
                                <div class="border border-1 border-dark p-2 w-100 fs-5" style="background-color: #e6e6e6">0 €</div>
                            </div>
                            <div class="col-3 fs-5" style="padding-left: 0px">
                                <select class="w-100 p-1">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </div>
                        <button class="border rounded-0 btn border-dark fs-4"><div class="p-1">AJOUTER AU PANIER</div></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Voir aussi -->
    <div class="bg-grey">
        <div class="p-5">
            <h1 class="pb-5">Voir aussi >> >> >></h1>
            <div class="row">
                {% set test = 0 %}
                {% for actu in actu_childs %}
                    <!-- Récupération des datas de l'article -->
                    {{ actu.getDatas(locale) }}
                    {% set media = actu.getMedia(2) %}
                    {% if actu.title|upper != article.title|upper %}
                        {% set themesChild = actu.category.title %}
                            {% if actu.category.title == themeArticle %}
                                {% set test = test + 1 %}
                                <div class="col-lg-4 col-md-12 py-2">
                                    <!-- Card-Actu -->
                                    {% include 'frontoffice/_components/card.html.twig' with {'event': actu, 'agenda': false, 'showButton': true, 'actu': true, 'billetterie': true, 'soutiens': false } %}
                                </div>
                            {% endif %}
                    {% endif %}
                {% endfor %}
                {% if test == 0 %}
                    <div class="h2">Pas d'autres articles dans ce thème</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}