{% extends 'frontoffice/_components/layout.html.twig' %}

{% block stylesheets %}

    <style>
        .image-bot-corner {
            background: url( {{ asset(getSiteImagePath('actu_cadre_2.svg')) }} ) no-repeat;
            background-size: 50px;
            background-position: bottom right;
        }


        .image-top-corner {
            background: url( {{ asset(getSiteImagePath('actu_cadre_1.svg')) }} ) no-repeat;
            background-size: 50px;
        }
    </style>
{% endblock %}

{% block body %}
    <!-- Récupération des datas de l'article -->
    {% do article.getDatas(locale) %}
    {% set mediaArticle = article.getMedia(8) %}
    <div class="wrapper">

    {% include 'frontoffice/_components/title.html.twig' with {'events': categories_actu, 'filter': true, 'historic': false, 'title': null, linkToSorted : true, logo : null } %}
        <!-- Bannière -->
        <div class="container-fluid">
            <div class="row">
                <!-- IMAGE ARTICLE -->
                <div class="col-12">
                    {% if mediaArticle is not null %}
                        {% set url = '/assets/images/' ~ mediaArticle.media  %}
                        <img  src="{{ asset((url)) }}" class="card-img-top rounded-0 mb-5" style="object-fit: cover;" alt="...">
                    {% endif %}
                </div>
            </div>
        </div>


        <!-- Article -->
        <div class="container-fluid py-4 ">

            <div class="position-relative image-top-corner">
                <div class="image-bot-corner">
        {#                <img src="{{ asset(('build/maquette/images/actu_cadre_1.svg')) }}" class="position-absolute other-browser" alt="ACTIONCULTURELLE">#}
                        <div class="row px-lg-5 pt-5" >
                            <div class="col-lg-9 col-md-12" style="padding-left: 30px">
                                <!-- Titre -->
                                <div class="h2 pb-4">{{ article.titleByLanguage }}</div>
                                <div class="row text-center">
                                    {% if article.instagramLink != '' %}
                                        <div class="col">
                                            <a href="{{ article.instagramLink }}"><img class="mh-45"  src="{{ asset(getSiteImagePath('artiste-insta.svg')) }}"></a>
                                        </div>
                                    {% endif %}
                                    {% if article.twitterLink != '' %}
                                        <div class="col">
                                            <a href="{{ article.twitterLink }}"><img class="mh-45" src="{{ asset(getSiteImagePath('artiste-tw.svg')) }}"></a>
                                        </div>
                                    {% endif %}
                                    {% if article.facebookLink != '' %}
                                        <div class="col">
                                            <a href="{{ article.facebookLink }}"><img class="mh-45" src="{{ asset(getSiteImagePath('artiste-fb.svg')) }}"></a>
                                        </div>
                                    {% endif %}
                                    {% if article.siteInternet != '' %}
                                        <div class="col">
                                            <a href="{{ article.siteInternet }}"><img class="mh-45" src="{{ asset(getSiteImagePath('artiste-web.svg')) }}"></a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="fs-5">
                                    <div style="padding-right: 40px" class="py-3">
                                        {{ article.description | raw }}
                                    </div>

                                    <!-- Contenu -->
                                    <div style="padding-right: 40px">
                                        <p class="fs-4 py-4">
                                            {{ article.subtitle }}
                                        </p>
                                        <div class="row">
    {#                                        <div class=" px-5 text-center">#}
    {#                                            {% set mediaArticle2 = article.getMedia(2) %}#}
    {#                                            {% if mediaArticle2 is not null %}#}
    {#                                                {% set url = '/assets/images/' ~ mediaArticle2.media  %}#}
    {#                                                <img  src="{{ asset((url)) }}" class="card-img-top rounded-0 mb-5" style="object-fit: contain; max-height: 50vh" alt="...">#}
    {#                                            {% endif %}#}
    {#                                        </div>#}
                                            <div class="">

                                                {{ article.content | raw }}
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        {% if not article.getFiles is empty %}

                                            <div class="mt-5">
                                                {% set filesArray = article.getFiles() %}
                                                {% set arrayLength = filesArray|length %}
                                                {% if arrayLength > 1 %}
                                                    <div class="mb-5">
                                                        Fichiers :
                                                        {% for file in article.getFiles() %}
                                                            {% set url_file = '/assets/images/' ~ file.media %}
                                                            <a class="btn-files fs-5" href="{{ url_file }}" role="button">{{ file.legend }}</a>
                                                        {% endfor %}</div>
                                                {% elseif arrayLength == 1 %}
                                                    <div class="mb-5">
                                                        Fichier :
                                                        {% for file in article.getFiles() %}
                                                            {% set url_file = '/assets/images/' ~ file.media %}
                                                            <a class="btn-files fs-5" href="{{ url_file }}" role="button">{{ file.legend }}</a>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}

                                            </div>
                                        {% endif %}</div>
                                    <div class="mt-5">
                                        <!-- VIDEO ARTISTE -->
                                        {% if article.youtubeLink is not null and article.youtubeLink is not empty  %}
                                            <div class="video-container">
                                                <div class="youtube_player" videoID="{{ article.youtubeLink|replace({'https://www.youtube.com/embed/': ''}) }}"></div>
                                            </div>
                                        {% endif %}
                                        {% if article.youtubeSecondLink is not null and article.youtubeSecondLink is not empty  %}
                                            <div class="video-container">
                                                <div class="youtube_player" videoID="{{ article.youtubeSecondLink|replace({'https://www.youtube.com/embed/': ''}) }}"></div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    {#                        <img src="{{ asset(('build/maquette/images/actu_cadre_2.svg')) }}" class="position-absolute" style="height: 50px; bottom:0; left: 95%;" alt="ACTIONCULTURELLE">#}
                                </div>

                            </div>
                            <div class="col-lg-3 col-md-12 mb-5">
                                <!-- Thème -->
                                {% do article.category.getDatas(locale) %}
                                <div class="text-center h2 white" style="background-color: {{ article.category.themeBackColor }}; min-height: 50px;">
                                    <div class="p-1">
                                        {% set themeArticle = article.category.title %}
                                        {{ article.category.title }}
                                    </div>
                                </div>
                                <!-- Voir aussi v2 -->
                                <div>
                                    {% for actu in actu_childs %}
                                        {% do actu.getDatas(locale) %}
                                        {% if actu.titleByLanguage|upper != article.titleByLanguage|upper %}
                                            {% set themesChild = actu.category.title %}
                                            {% if actu.category.title == themeArticle %}
                                                <div class="card rounded rounded-0 mb-4">
                                                    <div class="card-body px-4 pb-0">
                                                        <div class="fs-4 fw-bold">
                                                            {% if actu.eventName is not empty %}{{ actu.eventName }} :{% endif%} {{ actu.titleByLanguage | upper }}
                                                        </div>
                                                        <div class="card-text py-4 fs-5" style="line-height: 1">
                                                            {{ actu.description|raw }}
                                                        </div>
                                                    </div>
                                                    <div class="card-body p-4 pt-0 d-flex justify-content-between align-items-end">
                                                        <a href="{{ path('fo_actus_detail', { 'slug': actu.slug}) }}" class="btn-read-card">LIRE LA SUITE</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="fs-3 ps-3 pb-3">
                                    à voir aussi ...
                                </div>
                                <div>
                                    {% set temoin_nb_actus = 0 %}
                                    {% for actu in actu_childs %}
                                        {% do actu.getDatas(locale) %}
                                        {% if actu.titleByLanguage|upper != article.titleByLanguage|upper %}
                                            {% set themesChild = actu.category.title %}
                                            {% if actu.category.title != themeArticle %}
                                                {% set temoin_nb_actus = temoin_nb_actus + 1 %}
                                                {% if temoin_nb_actus < 4 %}
                                                    <div class="card rounded rounded-0">
                                                        <div class="card-body px-4 pb-0">
                                                            <div class="fs-4 fw-bold">
                                                                {% if actu.eventName is not empty %}{{ actu.eventName }} :{% endif%} {{ actu.titleByLanguage | upper }}
                                                            </div>
                                                            <div class="card-text py-4 fs-5" style="line-height: 1">
                                                                {{ actu.description|raw }}
                                                            </div>
                                                        </div>
                                                        <div class="card-body p-4 pt-0 d-flex justify-content-between align-items-end">
                                                            <a href="{{ path('fo_actus_detail', { 'slug': actu.slug}) }}" class="btn-read-card">LIRE LA SUITE</a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}