{% extends 'frontoffice/_components/layout.html.twig' %}


{% block javascripts %}
    <script>
        // TEST DROPDOWN SELECT

        // Récupération des éléments
        const dropDownItems = document.querySelectorAll('.dropdown-select-item');
        const dropDownItemsLi = document.querySelectorAll('.dropdown-select-item-li');
        const dropDownButton = document.querySelector('.dropdown-select-button');
        const allEventCards = document.querySelectorAll('.category-tous-les-evenements');

        // Ajout des écouteurs d'événements
        dropDownItems.forEach(function(item) {
            item.addEventListener('click', function(event) {
                // console.log('changement de selecteur');
                dropDownButton.innerHTML = event.target.innerHTML;

                // Affichage des cartes en fonction de la catégorie sélectionnée
                allEventCards.forEach(function(card) {
                    let selectedCategory = document.querySelector('.dropdown-select-button').innerHTML.toLowerCase();
                    selectedCategory = selectedCategory.replace(/ /g, '-');
                    selectedCategory = selectedCategory.replace(/[éè]/g, 'e');
                    //console.log('Catégorie sélectionnée ' + selectedCategory);

                    if(card.classList.contains('category-' + selectedCategory)) {
                        card.style.display = 'block';
                    } else {
                        card.style.display = 'none';
                    }
                });

            });
        });
    </script>

{% endblock %}

{% block body %}

    <div class="px-lg-5">
        <div class="row">
            <div class="px-lg-5 pt-5 mb-5 row">
                <h1 class="col-lg-2 col-md-6 col-sm-6 big-subtitle blue-title">{{ page_title | upper }}</h1>
                <div class="custom-select col-lg-3 col-md-6 col-sm-6 d-flex align-items-end " style="bottom: 17px">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle dropdown-toggle-select text-uppercase dropdown-select-button dropdown-select" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tous les évènements
                        </button>
                        <ul class="dropdown-menu">
                            <div class="dropdown-select-item-li dropdown-select-item text-uppercase w-100">Tous les évènements</div>

                            {% for categorie_actu in categories_actu %}
                                <div class="dropdown-select-item-li dropdown-select-item w-100">{{ categorie_actu.title | upper }}</div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            {% for actu in actu_childs %}
                {% set media = actu.getMedia(2) %}
                {% set CategoryTitle = actu.category.title|replace({' ': '-'})|lower %}

                <div class="col-lg-4 col-md-12 pb-lg-5 px-lg-3 category-{{ CategoryTitle }} category-tous-les-evenements">
                    <!-- Card-Actu -->
                    <div class="card mb-3 mx-lg-5 shadow-lg rounded-0 h-100" style="max-height: 1100px; display: flex; flex-direction: column;">
                        <!-- Image -->
                        {% if media is not null %}
                            {% set url = '/assets/images/' ~ media.media %}
                            <img src="{{ asset((url)) }}" class="card-img-top rounded-0" style="object-fit: cover; max-height: 35vh;" alt="...">
                        {% else  %}
                            <img src="{{ asset(('build/front/images/PLACEHOLDER_CARD.png')) }}" class="card-img-top rounded-0" style="object-fit: cover; max-height: 35vh;" alt="...">
                        {% endif %}

                        <!-- Themes -->
                        <div class="row mx-0 px-0">
                            <div class="col-5 theme-1 text-uppercase"  style="background-color: {{ actu.themeBackColor }}; color: {{ actu.themeTextColor }};">
                                {{ actu.category.title }}
                            </div>
                        </div>

                        <!-- CARD CONTENT -->
                        <div class="card-container" style="flex: 1;">
                            <!-- Titre -->
                            <h5 class="card-title my-3 fs-3" style="font-size: 25px !important;">
                                {{ actu.title }}
                            </h5>
                            <!-- CONTENU -->
                            <div class="card-text">
                                {{ actu.description | raw }}
                            </div>
                        </div>

                        <!-- CARD ACTIONS -->
                        <div class="pb-3 px-5 d-flex justify-content-between" style="align-items: flex-end;">
                            <a href="{{ path('fo_actus_detail', { 'title': actu.title, 'category_id': actu.category.id }) }}" class="btn border rounded-0 border-dark fs-3" style="height: 60px;">LIRE LA SUITE</a>
                            <a href="https://billetterie.lalune.net/">
                                <img src="{{ asset(('build/maquette/images/BILLETTERIE.png')) }}" alt="..." style="max-height: 60px;">
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>


{% endblock %}
