{% block _Media_picture_edit_widget %}
    {% set upload_url = ea_url()
        .unsetAll()
        .setController('App\\Controller\\Backoffice\\PictureCrudController')
        .setAction('upload')
    %}
    {% set delete_upload_url = ea_url()
        .unsetAll()
        .setController('App\\Controller\\Backoffice\\PictureCrudController')
        .setAction('deleteUpload')
        .set('entityId', ea.entity.primaryKeyValue)
        .generateUrl()
    %}
    {% if ea.crud.currentAction == 'edit' %}
        <img src="{{ asset(getThumbnailPath(ea.entity.getInstance.thumbnail)) }}" class="img-fluid">
    {% else %}
        {# Zone d'upload du nouveau média #}
        <div
            class="entity-detail-media-card form-group mb-3"
            data-form-id="{{ form.vars.name }}"
        >
            <div
                class="my-dropzone text-center dropzone "
                data-upload-url="{{ upload_url }}"
                data-upload-message="{{ 'upload.upload-message'|trans ~ ' ' ~ acceptedExtensions|join(', ') }}"
                data-accepted-file-types="{{ acceptedFileTypes|join(',') }}"
            >
            </div>
            <div
                    class="my-cropper text-center"
                    style="display: none;"

            >
                    <img class="image-cropper img-fluid" src="#">
                    <div class="mt-3">
                        <a
                            class="btn btn-delete-upload btn-danger"
                            href="{{ delete_upload_url }}"
                            data-href="{{ delete_upload_url }}"
                        >
                            Supprimer
                        </a>
                        <a class="btn btn-primary crop-action">
                            Recadrer
                        </a>
                        <a class="btn btn-success crop-valid" style="display: none">Valider</a>
                    </div>

            </div>
        </div>
        <input type="hidden" name="folderId-{{ form.vars.name }}" id="folderId-{{ form.vars.name }}" />
        <input type="hidden" name="filename-{{ form.vars.name }}" id="filename-{{ form.vars.name }}" />
        {# Champ qui contient les datas de l'image croppée le cas échéant #}
        <input type="hidden" name="cropData-{{ form.vars.name }}" id="cropData-{{ form.vars.name }}" />
    {% endif %}
{% endblock %}